<karma-page class="administration administration-route list">
    <md-toolbar>
        
        <div class="main-fab">
            <md-tooltip md-direction="right">
                Modificar Fecha Seleccionada
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="changeDate()">
                <md-icon md-svg-src="{{ 'action' | icon:'ic_today_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">

            <div class="md-toolbar-item md-title">
                <span>Hojas de Ruta</span>
            </div>

            <span flex></span>
            
            <div class="md-toolbar-item md-title selected-day">
                <span>
                {{data.date | amDateFormat:'dddd, D' | capitalize }} de 
                {{data.date | amDateFormat:'MMMM YYYY'}} </span>
            </div>
            
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>

    <karma-content>
        <karma-table>

            <karma-column width="10">
                <karma-item>
                    <div class="thumb">
                        <img ng-src="{{ item.imagen | restricted }}" />
                    </div>
                </karma-item>
            </karma-column>

            <karma-column title="Rut" width="20">
                <karma-item>
                    {{item.run}}-{{item.dv}}
                </karma-item>
            </karma-column>

            <karma-column property="nombre" title="Conductor"></karma-column>

            <karma-column align="center" title="Retiros Programados">
                <karma-item>
                    <strong>{{item.puntos.length}}</strong> Programados
                </karma-item>
            </karma-column>

            <karma-column align="center" width="10">
                <karma-item>
                    <div title="Imprimir Hoja de Ruta">
                        <a href="{{item.pdf_url}}" target="_blank">
                            <md-icon class="print" md-svg-src="{{ 'action' | icon:'ic_print_48px' }}">
                            </md-icon>
                        </a>
                    </div>
                </karma-item>
            </karma-column>

        </karma-table>
    </karma-content>



    <!-- MODAL TEMPLATE -->
    <script type="text/ng-template" id="change_date.tmpl">
        <md-dialog aria-label="" class="administration administration-route change-date dialog">

            <form name="form" name="form" >
                <!-- -->
                <karma-content class="sticky-container">

                    <md-subheader class="md-sticky-no-effect">
                        Seleccione el Día a Programar
                    </md-subheader>

                    <div class="dialog-content">
                        <br />
                        <!-- -->
                        <div layout="row" layout-align="center center">

                            <div flex="10" layout="column" layout-align="center center">

                                <md-icon class="arrows" ng-click="before()" md-svg-src="{{ 'hardware' | icon:'ic_keyboard_arrow_left_24px' }}">
                                </md-icon>

                            </div>

                            <div flex>
                                <center>
                                    <div class="picker">
                                        <div>
                                            {{ selectedDate | amDateFormat:'dddd' }}
                                        </div> 
                                        <div layout="column" layout-align="center center">
                                            <div class="month">
                                                {{ selectedDate | amDateFormat:'MMM' }}
                                            </div>
                                            <div class="day">
                                                {{ selectedDate | amDateFormat:'DD' }}
                                            </div>
                                            <div class="year">
                                                {{ selectedDate | amDateFormat:'YYYY' }}
                                            </div>
                                        </div> 
                                    </div>
                                </center>
                            </div>

                            <div flex="10" layout="column" layout-align="center center">

                                <md-icon class="arrows" ng-click="after()" md-svg-src="{{ 'hardware' | icon:'ic_keyboard_arrow_right_24px' }}">
                                </md-icon>

                            </div>

                        </div>
                        <!-- -->
                    </div>

                </karma-content>
                <!-- -->
                <div class="md-actions" layout="row">

                    <md-button aria-label="al" ng-click="cancel()" class="">
                        Cancelar
                    </md-button>

                    <md-button aria-label="al" ng-click="save()" class="md-primary md-raised">
                        Cambiar Fecha
                    </md-button>

                </div>
                <!-- -->
            </form>

        </md-dialog>
    </script>
    <!-- /MODAL TEMPLATE -->
</karma-page>