.time-date {
    font-size: 16px;
    overflow: hidden;
    border: none;
    max-width: 600px;
    background: #FFFFFF;
}
.time-date > .display {
    position: relative;
    width: 47%;
    height: 100%;
    cursor: pointer;
}
.time-date > .display > .title {
    background-color: #0091EA;
    color: #ffffff;
    line-height: 3em;
    text-transform: uppercase;
}
.time-date > .display > .content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 2.2rem;
    padding: 3rem 3rem 3rem 3rem;
    font-size: 1.4rem;
    background-color: #03A9F4;
    color: #ffffff;
}
.time-date > .display > .content > .super-title {
    text-transform: uppercase;
}
.time-date > .display > .content > .main-title {
    font-size: 6rem;
}
.time-date > .display > .content > .main-title > small {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
.time-date > .display > .content > .sub-title {
    color: #ffffff;
}
.time-date > .control {
    width: 53%;
    overflow-x: hidden;
    position: relative;
}
.time-date > .control > .slider {
    position: absolute !important;
    width: 200%;
    -webkit-transition: left 0.6s ease-in-out;
    -moz-transition: left 0.6s ease-in-out;
    -o-transition: left 0.6s ease-in-out;
    -ms-transition: left 0.6s ease-in-out;
    transition: left 0.6s ease-in-out;
}
.time-date > .control > .slider > .date-control,
.time-date > .control > .slider > .time-control,
.time-date > .control > .slider > .switch-control {
    float: left;
    height: 22.3rem;
}
.time-date > .control > .slider > .date-control,
.time-date > .control > .slider > .time-control {
    width: 45%;
}
.time-date > .control > .slider > .switch-control {
    width: 10%;
    cursor: pointer;
}
.time-date > .control > .slider > .switch-control > i.fa {
    margin-top: 12.65rem;
}
.time-date > .control > .slider > .switch-control > i.fa:first-child {
    margin-right: 1rem;
}
.time-date > .control > .slider > .switch-control > i.fa:last-child {
    margin-left: 1rem;
}
.time-date > .control > .slider > .date-control > .title {
    font-weight: 500;
    line-height: 2em;
}
.time-date > .control > .slider > .date-control > .title > span {
    cursor: pointer;
    position: relative;
}
.time-date > .control > .slider > .date-control > .title > span:hover {
    text-decoration: underline;
}
.time-date > .control > .slider > .date-control > .title > span > select {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.time-date > .control > .slider > .date-control > .title > input {
    border: none;
    width: 5.6rem;
}
.time-date > .control > .slider > .date-control > .headers {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 2.3rem;
    color: #737373;
}
.time-date > .control > .slider > .date-control > .headers > .day-cell {
    cursor: default;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
}
.time-date > .control > .slider > .date-control .day-cell {
    float: left;
    width: 1rem !important;
    height: 1rem;
    padding-top: 0.3rem;
    cursor: pointer;
    -webkit-border-radius: 3rem;
    border-radius: 3rem;
}


.time-date  .md-button {
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem 0.3rem;
    line-height: 1rem;
    min-height: 2rem;
    /* background: transparent; */
    white-space: nowrap;
    min-width: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}



.time-date > .control > .slider > .date-control > .days {
    font-size: 1rem;
    padding-left: 1rem;
    width: 20rem;
}
.time-date > .control > .slider > .date-control > .days .day-cell.today {
    color: #03A9F4;
}
.time-date > .control > .slider > .date-control > .days .day-cell.selected {
    color: #fff !important;
    background-color: #03A9F4;
}
.time-date > .control > .slider > .date-control > .days .day-cell:hover,
.time-date > .control > .slider > .date-control > .days .day-cell:active {
    color: #e6e6e6;
    background-color: #00baa9;
}
.time-date > .control > .slider > .time-control {
    position: relative;
}
.time-date > .control > .slider > .time-control > .buttons {
    position: absolute;
    bottom: 0px;
    left: 8px;
    right: 8px;
}
.time-date > .control > .slider > .time-control > .buttons > input {
    float: left;
    bottom: 50%;
    margin-bottom: -1.4rem;
    margin-left: -3rem;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
    position: absolute;
    left: 50%;
}
.time-date > .control > .slider > .time-control > .buttons > button {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}
.time-date > .control > .slider > .time-control > .clock {
    position: relative;
    width: 100%;
    padding-left: 50%;
    padding-top: 3rem;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face {
    position: relative;
    margin-left: -75px;
    margin-top: 1.5rem;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face:before {
    content: " ";
    background-color: #eceff1;
    position: absolute;
    top: -20px;
    left: -20px;
    height: 188px;
    width: 188px;
    -webkit-border-radius: 94px;
    border-radius: 94px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .center {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #202020;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 3;
    left: 74px;
    top: 73px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand {
    position: absolute;
    height: 4rem;
    width: 4rem;
    margin-left: -2rem;
    margin-top: -2rem;
    padding: 1rem;
    text-align: center;
    -webkit-border-radius: 8rem;
    border-radius: 8rem;
    cursor: pointer;
    color: #03A9F4;
    z-index: 2;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:hover,
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:active,
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:hover:before,
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:active:before {
    color: #e6e6e6;
    background-color: #00baa9;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand.selected,
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand.selected:before {
    color: #fff;
    background-color: #03A9F4;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(2) {
    left: 112.5px;
    top: 10.048094699999993px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(2):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(29.99999999999988deg);
    -moz-transform: rotate(29.99999999999988deg);
    -o-transform: rotate(29.99999999999988deg);
    -ms-transform: rotate(29.99999999999988deg);
    transform: rotate(29.99999999999988deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(3) {
    left: 139.95190530000002px;
    top: 37.5px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(3):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(60.000000000000114deg);
    -moz-transform: rotate(60.000000000000114deg);
    -o-transform: rotate(60.000000000000114deg);
    -ms-transform: rotate(60.000000000000114deg);
    transform: rotate(60.000000000000114deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(4) {
    left: 150px;
    top: 75px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(4):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(5) {
    left: 139.95190530000002px;
    top: 112.5px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(5):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(119.99999999999987deg);
    -moz-transform: rotate(119.99999999999987deg);
    -o-transform: rotate(119.99999999999987deg);
    -ms-transform: rotate(119.99999999999987deg);
    transform: rotate(119.99999999999987deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(6) {
    left: 112.5px;
    top: 139.95190530000002px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(6):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(150.0000000000001deg);
    -moz-transform: rotate(150.0000000000001deg);
    -o-transform: rotate(150.0000000000001deg);
    -ms-transform: rotate(150.0000000000001deg);
    transform: rotate(150.0000000000001deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(7) {
    left: 75px;
    top: 150px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(7):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(8) {
    left: 37.5px;
    top: 139.95190530000002px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(8):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(209.9999999999999deg);
    -moz-transform: rotate(209.9999999999999deg);
    -o-transform: rotate(209.9999999999999deg);
    -ms-transform: rotate(209.9999999999999deg);
    transform: rotate(209.9999999999999deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(9) {
    left: 10.048094699999993px;
    top: 112.5px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(9):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(240.0000000000001deg);
    -moz-transform: rotate(240.0000000000001deg);
    -o-transform: rotate(240.0000000000001deg);
    -ms-transform: rotate(240.0000000000001deg);
    transform: rotate(240.0000000000001deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(10) {
    left: 0px;
    top: 75px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(10):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(11) {
    left: 10.048094699999993px;
    top: 37.5px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(11):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(299.9999999999999deg);
    -moz-transform: rotate(299.9999999999999deg);
    -o-transform: rotate(299.9999999999999deg);
    -ms-transform: rotate(299.9999999999999deg);
    transform: rotate(299.9999999999999deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(12) {
    left: 37.5px;
    top: 10.048094699999993px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(12):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(330.0000000000001deg);
    -moz-transform: rotate(330.0000000000001deg);
    -o-transform: rotate(330.0000000000001deg);
    -ms-transform: rotate(330.0000000000001deg);
    transform: rotate(330.0000000000001deg);
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(13) {
    left: 75px;
    top: 0px;
}
.time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(13):before {
    content: " ";
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 75px;
    width: 2px;
    z-index: -1;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.time-date.date-mode > .control > .slider {
    left: 0%;
}
.time-date.time-mode > .display > .content {
    padding-top: 5.4rem;
}
.time-date.time-mode > .control > .slider {
    left: -100%;
}
.time-date.date-only > .control > .slider > .switch-control,
.time-date.date-only > .control > .slider > .time-control {
    display: none;
}
.time-date.date-only > .control > .slider > .date-control {
    width: 50%;
    padding-left: 0rem;
}
.time-date.time-only > .display > .content {
    top: 0px;
    padding-top: 8.2rem;
}
.time-date.time-only > .control > .slider > .switch-control,
.time-date.time-only > .control > .slider > .date-control {
    display: none;
}
.time-date.time-only > .control > .slider > .time-control {
    width: 50%;
}
.time-date > .display,
.time-date > .control {
    height: 23rem;
    float: left;
    text-align: center;
}
.time-date > .buttons {
    clear: both;
    padding: 0rem 1rem;
    text-align: right;
}
.time-date button,
.time-date .button {
    color: #03A9F4 !important;
    font-weight: bold;
}
.time-date button:hover,
.time-date .button:hover,
.time-date button:active,
.time-date .button:active {
    color: #e6e6e6 !important;
    background: #03A9F4 !important;
}
.time-date button.active,
.time-date .button.active {
    color: #fff !important;
    background-color: #03A9F4;
}
