<section layout="row" flex>

    <!-- SIDENAV -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 " md-component-id="left" md-is-locked-open="true">

        <div layout="column" class="logo" layout-align="center center">
            <div flex>
                <img ng-src="https://dl.dropboxusercontent.com/u/24087768/GrupoValentys/Logos/Isotipos/Grupo%20Valentys%20-%20Blanco.png" />
            </div>
            <span class="title">
                {{config.application.name}} - v{{config.application.version}}
            </span>
        </div>

        <md-content>
            <div ng-repeat="section in config.menu">

                <md-divider>
                    {{section.label}}
                </md-divider>
                <md-list ng-repeat="group in section.items">

                    <!-- ONE LEVEL -->
                    <md-list-item ng-if="!group.items" ng-click="navigateTo(group)">
                        <p> {{group.label}}</p>
                        <md-icon md-svg-icon="hardware:keyboard_arrow_right"></md-icon>
                    </md-list-item>


                    <!-- TWO LEVEL'S -->
                    <md-list ng-if="group.items" ng-click="toggleMenu(group);" class="section" ng-class="{'toggled' : group.open}">
                        <md-list-item >
                            <p> {{group.label}} </p>
                            <md-icon  class="chevron" md-svg-icon="navigation:expand_more"></md-icon>
                        </md-list-item>
                    </md-list>
                    <div ng-show="group.open == true" ng-animate="'animate'">
                        <md-list class="items">
                            <md-list-item ng-click="navigateTo(link)" ng-repeat="link in group.items | orderBy:'+'">
                                <p> {{link.label||link.name}} </p>
                                <md-icon md-svg-icon="hardware:keyboard_arrow_right"></md-icon>
                            </md-list-item>
                        </md-list>
                    </div>

                </md-list>

                <br/>
            </div>

        </md-content>
    </md-sidenav>

    <!-- CONTENT -->
    <div layout="column" layout-fill layout-align="top center">

        <md-whiteframe class="md-whiteframe-z2 doc-title">

            <h2>{{config.selected_menu.$title}}</h2>

        </md-whiteframe>
        
        <!-- GITHUB ICON -->
        <div class="source-icons" layout="row" layout-align="center center">

            <md-button href="https://github.com/GrupoValentys/Gale-Starter-Project"
                     title="Ver Código en Github"
                     aria-label="al" 
                     class="md-icon-button github" >

                <md-tooltip>
                  Ver Código en Github
                </md-tooltip>

                <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" />
            </md-button>
        </div>
        <!-- /GITHUB ICON -->

        <md-content ui-view name="content" ng-show="!config.loading" layout-padding>
        </md-content>

        <md-content ng-show="config.loading" style="background-color:transparent" layout-margin layout layout-align="center center">
            <md-progress-circular class="md-hue-2" md-mode="indeterminate">
            </md-progress-circular>
        </md-content>

    </div>

</section>