<karma-page class="administration administration-serviceType update">
    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="main-fab wizard">
            <md-tooltip md-direction="right">
                {{ 'Navigation.Back' | localize }}
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="back()">
                <md-icon md-svg-src="{{ 'navigation' | icon:'ic_arrow_back_24px' }}"></md-icon>
            </md-button>
        </div>
        
        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Tipos de Servicios > Editar Tipo de Servicio</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <karma-content layout-margin>
        <form name="form">
            <div layout="row">
                <div flex="20" layout-align="start center" layout="column">

                    <div class="thumb"> 
                        <!-- -->
                        <div class="loading" ng-if="uploadData" layout="column" layout-align="center center">
                                
                            <pie-chart data='uploadData.progress' options='uploadData.options'>
                            </pie-chart> 

                            <md-icon md-svg-src="{{ 'file' | icon:'ic_cloud_upload_48px' }}"></md-icon>
                        </div>
                        <!-- -->

                        <img ng-src="{{ data.imagen | restricted }}" />
                    </div>

                    <div class="md-primary md-button md-default-theme" ng-file-change="upload($files)" type="file" ng-file-select>    
                        {{ 'GLOBAL_CHANGEPICTURE_LABEL' | localize}}
                    </div>
   
                   
                </div>

                <div flex="70">
                    <!-- -->
                    <md-input-container>
                        <label>Nombre</label>
                        <input ng-model="data.nombre" required>
                    </md-input-container>
                    <!-- -->
                    <md-input-container>
                        <label>Descripción</label>
                        <textarea ng-model="data.descripcion" rows="4" required></textarea>
                    </md-input-container>
                    <!-- -->
                </div>
            </div>

            

            <karma-pad>
                <md-button  ng-click="back()">
                    {{ 'GLOBAL_CANCEL_LABEL' | localize}}
                </md-button>

                <md-button  ng-click="delete()" class="md-warn">
                    {{ 'GLOBAL_DELETE_LABEL' | localize}}
                </md-button>

                <md-button ng-disabled="form.$invalid" ng-click="save(data)" class="md-raised md-primary">
                    Actualizar Tipo de Servicio
                </md-button>
            </karma-pad>
        </form>
    </karma-content>

</karma-page>