<div class="source-icons" layout="row" layout-align="center center">

	<md-button href="https://github.com/dmunozgaete/Gale-Starter-Project"
	         title="Ver Código en Github"
	         aria-label="al" 
	         class="md-icon-button github" >

     	<md-tooltip>
          Ver Código en Github
        </md-tooltip>

		<img ng-src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" />
	</md-button>


	<a target="_blank" >
		
	</a>
</div>

<h2 class="md-headline">
	¿Qué es Gale?
</h2>

<p>
	Gale es un conjunto de librerías desarrollado por 
	<a target="_blank" href="http://www.valentys.com/">Valentys Ltda.</a> para acelerar el desarrollo de aplicaciones 
	realizadas en <a target="_blank" href="https://angularjs.org/">AngularJS</a>, por lo que brinda un punto inicial 
	para el comienzo de cualquier proyecto asociado al área de <strong>I+D+i</strong> <i>(Investigación + Desarrollo + Inovación)</i>.
	<br />
	<br />
	El proyecto es Open Source (<a target="_blank" href="https://es.wikipedia.org/wiki/Apache_License">Apache License 2.0</a>) y provee un grupo de componentes
	reutilizables que se añaden al grupo de componentes actuales realizado por 
	<a target="_blank" href="https://material.angularjs.org/">Material Design</a> y actualmente
	usado como pilar de construcción para los desarrollos y lineamientos de nuestra empresa.
</p>
<br />
<h2 class="md-headline">
	¿Qué es Material Design?
</h2>

<p>
	<a target="_blank" href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> 
	Es una especificación de movimiento , visualización e interacción para sistemas unificados 
	que se adapta de forma transversal en dispositivos móviles y resoluciones de pantalla.
</p>

<br />
<br />


<div layout="row">
	<div flex="5">
	</div>

	<a class="md-button block" flex class="block" ui-sref="app.home-installation">
		 <md-icon md-svg-icon="social:school"></md-icon>
		 <br/>
		 PRIMEROS PASOS
	</a>

	<div flex="5">
	</div>

	<a class="md-button block" flex class="block" target="_blank" href="https://material.angularjs.org">
		 <md-icon md-svg-icon="action:account_balance"></md-icon>
		 <br/>
		 ANGULAR MATERIAL
	</a>

	<div flex="5">
	</div>

	<button button class="md-button block" flex disabled="disabled">  
		 <md-icon md-svg-icon="av:play_circle_filled"></md-icon>
		 <br/>
		 DEMOS 
	</md-button>

	<div flex="5">
	</div>
</div>
