<p>
	<!-- DESCRIPTION -->
	El servicio <code>$Api</code> es el encargado de conectar con 
	nuestra API en el lado del servidor y utiliza el servicio base 
	<a href="https://docs.angularjs.org/api/ng/service/$http" target="_blank">$http</a>, 
	tiene como principal objetivo ser el conector, entre ambos lados del 
	proyecto permitiendo crear, leer, actualizar y eliminar elementos a traves del 
	modelo RESTful en nuestro servidor.

	<br />
	<br />

	Una de las funcionalidades extras que tiene el servicio , permite securitizar un canal
	de comuninación con el servidor a traves de 
	<a href="http://jwt.io/" target="_blank">JWT</a>.
	
	<br />
	<!-- /DESCRIPTION -->

	<!-- USAGE -->
	<h2 class="md-headline">	
		Uso Basico
	</h2>
	<hljs language="js">
app.controller('MyController', function($scope, $Api) {

  var method = 'GET';
  var endpoint = '/Administration/Account';
  var parameters = {
    username: 'dmunoz@valentys.com'
  };
  var headers = {
    'content-type': 'application/json'
  };

  //Ejecutamos la llamada al servidor
  $Api.invoke(method, endpoint , parameters, headers)
  .success(function(data, status, headers, config){
    //Respuesta OK
  })
  .error(function(data, status, headers, config){
    //Error
  });

});
	</hljs>

	<h2 class="md-headline">
		Configuración Global
	</h2>
	<hljs language="js">
angular.module('App', [
  'ui.router'    //NG ROUTE
  , 'ngMaterial' //MATERIAL DESIGN DIRECTIVES
  , 'gale'       //VALENTYS SDK LIBRARY
])
.config(function($ApiProvider) {
  
  //Configuración de la URL base
  $ApiProvider.setEndpoint('http://demoApp.valentys.com/API/v1')

});
	</hljs>
	<!-- /USAGE -->

	<!-- METHODS -->
	<h2 class="md-headline">
		Métodos
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.invoke(method, endpoint [,parameters, headers])
			</h3>
			<div class="service-desc">
				<p>
					Ejecuta una solicitud hacia un recurso web.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code class="required">
								method
							</code>
						</td>
						<td>
							String
						</td>
						<td class="description">
							<p>Verbo a enviar con la solicitud en la llamada a la API.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code class="required">
								endpoint
							</code>
						</td>
						<td>
							String
						</td>
						<td class="description">
							<p>
								Dirección URL del recurso en la llamada a la API.
							</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>parameters</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Parametros a enviar en la solicitud.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>headers</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Encabezados a enviar en la solicitud.</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.kql(endpoint [,kql ,headers]);
			</h3>
			<div class="service-desc">
				<p>
					Ejecuta una solicitud de lectura (GET) sobre un recurso RESTful
					en el formato KQL (Karma Query Language).
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code class="required">
								endpoint
							</code>
						</td>
						<td>
							String
						</td>
						<td class="description">
							<p>Dirección URL del recurso en la llamada a la API.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code class="required">
								kql
							</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Configuración KQL del recurso.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>headers</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Encabezados a enviar en la solicitud.</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code>
								promise
							</code>
						</td>
						<td class="description">
							<p>
								Retorna una 
								<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">promesa</a> 
								estandar con el método <code>then</code> y dos métodos especificos:
								<code>success</code> y <code>error</code> que se ejecutarán de acuerdo al 
								código de estado de la respuesta en la solicitud.
							</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.read(endpoint [,parameters ,headers]);
			</h3>
			<div class="service-desc">
				<p>
					Ejecuta una solicitud de lectura (GET) sobre un recurso RESTful.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code class="required">
								endpoint
							</code>
						</td>
						<td>
							String
						</td>
						<td class="description">
							<p>Dirección URL del recurso en la llamada a la API.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>parameters</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Colección de parametros a enviar en la solicitud.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>headers</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Encabezados a enviar en la solicitud.</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code>
								promise
							</code>
						</td>
						<td class="description">
							<p>
								Retorna una 
								<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">promesa</a> 
								estandar con el método <code>then</code> y dos métodos especificos:
								<code>success</code> y <code>error</code> que se ejecutarán de acuerdo al 
								código de estado de la respuesta en la solicitud.
							</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.create(endpoint [,body ,headers]);
			</h3>
			<div class="service-desc">
				<p>
					Ejecuta una solicitud de escritura (POST) sobre un recurso basado en el 
					protocolo RESTful
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code class="required">
								endpoint
							</code>
						</td>
						<td>
							String
						</td>
						<td class="description">
							<p>Dirección URL del recurso en la llamada a la API.</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>body</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>
								Cuerpo del mensaje que contiene los datos en formato
								a transportar en la solicitud.
							</p>
						</td>
					</tr>
					<!-- -->
					<tr>
						<td>
							<code>headers</code>
						</td>
						<td>
							JSON
						</td>
						<td class="description">
							<p>Encabezados a enviar en la solicitud.</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code>
								promise
							</code>
						</td>
						<td class="description">
							<p>
								Retorna una 
								<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">promesa</a> 
								estandar con el método <code>then</code> y dos métodos especificos:
								<code>success</code> y <code>error</code> que se ejecutarán de acuerdo al 
								código de estado de la respuesta en la solicitud.
							</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.update(endpoint, id [,body ,headers]);
			</h3>
			<div class="service-desc">
				<p>
					Ejecuta una solicitud de actualización (PUT) sobre un recurso basado en el 
					protocolo RESTful
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									endpoint
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Dirección URL del recurso en la llamada a la API.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									id
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Token o identificador único del recurso a actualizar.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>body</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Cuerpo del mensaje que contiene los datos en formato
									a transportar en la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>headers</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Encabezados a enviar en la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									promise
								</code>
							</td>
							<td class="description">
								<p>
									Retorna una 
									<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">promesa</a> 
									estandar con el método <code>then</code> y dos métodos especificos:
									<code>success</code> y <code>error</code> que se ejecutarán de acuerdo al 
									código de estado de la respuesta en la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.delete(endpoint ,id [,headers]);
			</h3>
			<div class="service-desc">
				<p>
					Ejecuta una solicitud de borrado (DELETE) sobre un recurso basado en el 
					protocolo RESTful
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									endpoint
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Dirección URL del recurso en la llamada a la API.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									id
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Token o identificador único del recurso a eliminar.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>headers</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Encabezados a enviar en la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code>
								promise
							</code>
						</td>
						<td class="description">
							<p>
								Retorna una 
								<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">promesa</a> 
								estandar con el método <code>then</code> y dos métodos especificos:
								<code>success</code> y <code>error</code> que se ejecutarán de acuerdo al 
								código de estado de la respuesta en la solicitud.
							</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
	</ul>
	<!-- /METHODS -->
	<h2 class="md-headline">
		Uso Avanzado: RESTful
	</h2>
	<hljs language="js">
app.controller('MyController', function($scope, $Api) {

  var endpoint = '/Account';
  var headers = {};
  var kql = {
    limit: 1,
    offset: 0,
    filters: [
      {
        'name': 'email',
        'operator': 'eq',
        'value' 'dmunoz@valentys.com'
      }
    ]
  };

  //Conexión RESTful en modo lectura en formato KQL (Karma Query Language)
  $Api.kql(endpoint , kql, headers)
  .success(function(data, status, headers, config){

    //Respuesta OK
    console.log(data);
    
  });

  //Datos de Usuario
  var user = {
    name: 'David Muñoz Gaete',
    email: 'dmunoz@valentys.com',
    company: 'Valentys Ltda.'
  };

  //Creación de un recurso (protocolo RESTful)
  $Api.create(endpoint , user, headers)
  .success(function(data, status, headers, config){

    //Creación OK (status: 200)
    user.token = data.token;

  });

  user.name = 'David Antonio Gaete';

  //Actualización de un recurso (protocolo RESTful)
  $Api.update(endpoint , user.token, user, headers)
  .success(function(data, status, headers, config){
    //Actualización OK (status: 204)
  });

  //Borrado de un recurso (protocolo RESTful)
  $Api.delete(endpoint , user.token, headers)
  .success(function(data, status, headers, config){
    //Borrado OK (status: 200)
  });

});
	</hljs>

	<br />
	<!-- METHODS -->
	<h2 class="md-headline">
		Eventos
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				before-send
			</h3>
			<div class="service-desc">
				<p>
					Evento que se ejecuta cada vez que una solicitud web ha sido ejecutada.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									headers
								</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Colección actual de encabezados enviados con la solicitud, 
									la cúal permite modificación directa.									
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->

			<!-- USAGE -->
			<hljs language="js">
angular.module('App', [
  'ui.router'    //NG ROUTE
  , 'ngMaterial' //MATERIAL DESIGN DIRECTIVES
  , 'gale'       //VALENTYS SDK LIBRARY
])
.run(function(Identity) {

  $Api.$on("before-send", function(headers){
	
    //Header de  Autenticación
    if(Identity.isAuthenticated()){
      var jwt = Identity.getToken();
      headers['Authorization'] = jwt.token_type + " " + jwt.access_token;
    }
    
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				success
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta cuando el requerimiento web , ha sido recibido correctamente.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									data
								</code>
							</td>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Respuesta del servidor.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									status
								</code>
							</td>
							<td>
								number
							</td>
							<td class="description">
								<p>
									Estado HTTP de la solicitud web.							
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									headers
								</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Colección actual de encabezados enviados con la solicitud, 
									la cúal permite modificación directa.									
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->

			<!-- USAGE -->
			<hljs language="js">
angular.module('App', [
  'ui.router'    //NG ROUTE
  , 'ngMaterial' //MATERIAL DESIGN DIRECTIVES
  , 'gale'       //VALENTYS SDK LIBRARY
])
.run(function(Identity) {

  $Api.$on("success", function(data, status, headers){
	
    console.log(data);
    
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				error
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta cuando se ha producido un error en la respuesta del servidor.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									data
								</code>
							</td>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Respuesta del servidor.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									status
								</code>
							</td>
							<td>
								number
							</td>
							<td class="description">
								<p>
									Estado HTTP de la solicitud web.							
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									headers
								</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Colección actual de encabezados enviados con la solicitud, 
									la cúal permite modificación directa.									
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->

			<!-- USAGE -->
			<hljs language="js">
angular.module('App', [
  'ui.router'    //NG ROUTE
  , 'ngMaterial' //MATERIAL DESIGN DIRECTIVES
  , 'gale'       //VALENTYS SDK LIBRARY
])
.run(function(Identity) {

  $Api.$on("error", function(data, status, headers){
	
    console.log(data);
    
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
	</ul>
	<!-- /EVENTS -->
</p>