<p>
	<!-- DESCRIPTION -->
	El servicio <code>$Configuration</code> permite acceder a la configuración de 
	ambiente y global del sistema bajo un ambiente unificado de acceso.

	<br />
	<br />

	La constante <code>GLOBAL_CONFIGURATION</code> es una colección de parametros con la 
	configuración inmutable o inicial del sistema y no se encuentra enlazada al ambiente, 
	por lo que es importante configurar en esta constante, todo valor a utilizar en el sistema
	de acuerdo al negocio o lógica especifica configurada. 
	<br/>
	<i>Su ubicación se encuentra en <code>/app/config/config.js</code></i>
	
	<br />
	<br />

	La constante <code>ENVIRONMENT_CONFIGURATION</code> se encuentra inicializada de acuerdo 
	al ambiente que se haya configurado en el archivo de configuración global y, 
	es cargada en el paso de arranque de la aplicación angularJS, 
	por lo que no es posible modificarla en tiempo de ejecución.
	<br/>
	<i>Su ubicación se encuentra en <code>/app/config/env/{environment_in_config}</code></i>

	<br />
	<br />

	Ambas constantes son acccesibles a través del servicio <code>$Configuration</code>.

	<h2 class="md-headline">
		Restricciones
	</h2>
	<ul class="doc-list">
		<li>
			En la configuración global es requerido que se encuentre 
			establecido el valor de configuración <code>application</code> antes del paso 
			de inicialización de la aplicación angularJS , de lo contrario la ejecución del
			sistema será detenida a través de una excepción de control.
		</li>
		<li>
			Cuando una nueva versión del sistema es configurada, el sistema ejecutará de forma
			inmediata la función <code>on_build_new_version</code> configurada en el mismo 
			archivo si es que esta se encuentra presente.
			<br />
			Está función recibe tiene dos parametros en su firma, 
			(<code>new_version</code>, <code>old_version</code>) y permite 
			inyeccion de dependencias a través del servicio 
			<a href="https://docs.angularjs.org/api/auto/service/$injector" target="_blank">$injector</a>
		</li>
	</ul>
	<!-- /DESCRIPTION -->

	<!-- USAGE -->
	<h2 class="md-headline">
		Uso Basico
	</h2>
	<hljs language="js">
app.controller('MyController', function($scope, $Configuration) {

  var application = $Configuration.get('application');
  
  var author  = application.name;  //Autor
  var version = application.version;  //Versión de la Aplicación
  var environment = application.environment;  //Ambiente de Ejecución
  var language = application.language;  //Localización del Sistema
  var name = application.name;  //Nombre de la Aplicación

  var exists_menu = $Configuration.exists("menu_items");  //Booleano

});
	</hljs>
	<!-- /USAGE -->

	<!-- METHODS -->
	<h2 class="md-headline">
		Métodos
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.get(name [,defaultValue]);
			</h3>
			<div class="service-desc">
				<p>
					Obtiene una variable de configuración de ambiente o 
					global según corresponda
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									name
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Nombre de la variable a obtener 
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									defaultValue
								</code>
							</td>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Valor por defecto a retornar si es que no se encuentra 
									configurada la variable objetivo.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
				<tbody>
					<!-- -->
					<tr>
						<td>
							<code>
								object
							</code>
						</td>
						<td class="description">
							<p>
								Retorna el valor de la configuración deseada; En el caso de
								no encontrarse la variable se ejecutará una excepción de control
								indicando que no existe tal variable.
								</br />
								<i>
									Si se encuentra establecido el parametro 
									<code>
										defaultValue
									</code> y, no se encuentra la variable , la excepción 
									será omitida y se retornará el valor de 
									<code>
										defaultValue
									</code>
								</i>

							</p>
						</td>
					</tr>
					<!-- -->
				</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Api.exists(name);
			</h3>
			<div class="service-desc">
				<p>
					Verifica la existencia de una variable en la configuración 
					global o de ambiente.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									name
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Nombre de la variable a verificar.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									booleano
								</code>
							</td>
							<td class="description">
								<p>
									Retorna <code>verdadero</code> si la variable se 
									encuentra en cargada en el sistema; 
									De lo contrario retornará <code>falso</code>.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
	</ul>
	<!-- /METHODS -->
</p>