<karma-page>
    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Bandeja de Entrada</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>

    <karma-content>
        <karma-table endpoint="/PendingsTasks" paginate="true" limit="5">

            <karma-column property="document" title="Documento"></karma-column>
            <karma-column property="state" title="Estado"></karma-column>
            <karma-column property="createdAt" title="Fecha Creación">
                <karma-item>
                    <span title="{{item.createdAt}}">
                        <span am-time-ago="item.createdAt"></span>
                    </span>
                </karma-item>
            </karma-column>

        </karma-table>
    </karma-content>
</karma-page>