<p>
    <!-- DESCRIPTION -->
    La directiva <code>gale-page</code> es un contenedor útil para 
    el control de páginas en un proyecto.
    <!-- /DESCRIPTION -->

    <!-- USAGE -->
    <section class="demo-container md-whiteframe-z1" ng-class="{'show-source': $showSource}">
        <md-toolbar class="demo-toolbar">
            <div class="md-toolbar-tools">

                <h2>
                	<span>
                		Uso Basico
                	</span>
                </h2>
                <span flex></span>
                <button class="md-button md-primary" aria-label="al" ng-class="{ active: $showSource }" ng-click="$showSource = !$showSource">
                    <md-icon md-svg-src="{{ 'action' | icon:'ic_code_24px' }}"></md-icon>
                </button>

            </div>
        </md-toolbar>

    	<div ng-if="$showSource">
	        <!-- Views -->
	        <md-tabs  md-border-bottom class="md-primary">
	            <md-tab label="html">
	                <md-content class="md-padding">
	                	<!-- SOURCE CODE -->
	                    <hljs language="html">
<div ng-controller="GalePageDemoController">

  <gale-page on-keydown="onKeyDown" title="{{title}}">
    <form name="form"> 
      <md-content>
        <p>
          <i>
            (El Título de la página acaba de cambiar a: 
            <strong>{{title}}</strong>
          </i>
          <br />
          Acabas de presionar la tecla:&nbsp;
          <code>{{pressedChar}}&nbsp;({{pressedKey.keyCode}})</code>
          <br />
          <br />
          Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.
          Facete delenit argumentum cum at. 
          <br />
          <br />
          Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum oporteat ea sea. Per cu vide munere fierent.
        </p>
      </md-content>
    </form>
  </gale-page>

</div>
	                    </hljs>
	                    <!-- /SOURCE CODE -->
	                </md-content>
	            </md-tab>

                <md-tab label="js">
                    <md-content class="md-padding">
                        <!-- SOURCE CODE -->
                        <hljs language="js">
app.controller("GalePageDemoController", function($scope) {

  $scope.title = "Wow!!!";

  $scope.onKeyDown = function(event, keyCode) {
    $scope.pressedChar = String.fromCharCode(event.keyCode);
    $scope.pressedKey = event;
  }

});
                        </hljs>
                        <!-- /SOURCE CODE -->
                    </md-content>
                </md-tab>
	        </md-tabs>
        </div>
        <!-- /Views -->

        <!-- Live Demos -->
        <md-content class="md-padding live-demo">
            <div ng-controller="GalePageDemoController">
              
       			<gale-page on-keydown="onKeyDown" title="{{title}}">
 					<form name="form"> 
	           			<md-content>
	           				<p>
	 							<i>
	 								(El Título de la página acaba de cambiar a: <strong>{{title}}</strong>
	 							</i>
	 							<br />
	 							Acabas de presionar la tecla:&nbsp;<code>{{pressedChar}}&nbsp;({{pressedKey.keyCode}})</code>
	 							<br />
	 							<br />
		           				Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.
		           				Facete delenit argumentum cum at. 
		           				<br />
		           				<br />
		           				Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum oporteat ea sea. Per cu vide munere fierent.
	           				</p>
	           			</md-content>
                     </form>
       			</gale-page>
               
            </div>
	    </md-content>
        <!-- /Live Demos -->
    </section>
    <!-- /USAGE -->

    <!-- FILTER -->
    <h2 class="md-headline">
		Atributos
	</h2>
    <ul class="methods">
        <!-- -->
        <li>
            <!-- METHOD -->
            <div class="api-param-table">
                <table class="no-style">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									title
								</code>
                            </td>
                            <td>
                                String
                            </td>
                            <td class="description">
                                <p>
                                    Tituló a establecer en atributo <code>document.title</code>
                                    <br />
                                    <i>
                                    	Si se establece un titulo, se ejecutará además el evento
                                    	<code>gale-page:title:changed</code>
                                    </i>
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									on-keydown
								</code>
                            </td>
                            <td>
                                Function
                            </td>
                            <td class="description">
                                <p>
                                    Función de Ejemplo que se ejecuta cuando el usuario
                                    presione una tecla sobre el elemento 
                                    <code>gale-page</code>
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                    </tbody>
                </table>
            </div>
            <!-- /METHOD -->
        </li>
        <!-- -->
    </ul>
    <!-- /FILTER -->
</p>
