<p>
	<!-- DESCRIPTION -->
	Capitaliza una cadena de caracteres y retorna su valor.
	<br />
	<i>(Cambia a el primer caracter de cada palabra a mayúscula)</i>
	<br />

	<!-- /DESCRIPTION -->

	<!-- USAGE -->
	<h2 class="md-headline">
		Uso Declarativo
	</h2>
	<hljs language="html">
<div ng-app="demoApp" ng-controller="MyController"> 
    <label>{{ 'hola mundo' | capitalize }}</label>
    <!-- Hola Mundo -->
</div>
	</hljs>
	<!-- /USAGE -->

	<!-- FILTER -->
	<h2 class="md-headline">
		Uso
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$filter('capitalize')(literal);
			</h3>
			<div class="service-desc">
				<p>
					
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									literal
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Cadena de caracteres a capitlizar.
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
	</ul>
	<!-- /FILTER -->
</p>