Subject: Recuperación de Contraseña

<html>
<body style="font-family:arial">
    <div style="border: 20px solid rgb(229, 229, 229); 
                width: 80%; 
                padding:16px">

        <table style="width:100%">
            <tr>
                <td style="width:150px">
                    @Html.EmbedImage("~/Views/Assets/logo.png")
                </td>
                <td>
                    <span style="font-size: 25px; 
                                 color: rgb(128, 128, 128); ">

                        Monitoreo Digital v2.0

                    </span>
                </td>
            </tr>
        </table>
        <div style="font-family: arial,sans-serif;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 18px;
                    margin-top: 16px;
                    color: rgb(128, 128, 128);
                    border-top:1px solid rgb(229, 229, 229)">

            <div style="padding-top: 25px; 
                        font-size: 20px; 
                        line-height: 25px; 
                        color: rgb(53, 106, 233);">

                Estimado(a)&nbsp;
                <strong>@ViewBag.Nombre</strong>:
                
            </div>

            <br />
            Ingresa una nueva contrase&ntilde;a para actualizar las credenciales de ingreso
            <br />
            <br />
            Para inicar el proceso de recuperaci&iacute;n <a href="@ViewBag.Url">Haga click aqu&iacute;</a>
            <br />
            <br />
            <br/>
            <br />
            <br />
            <br />
            <div style="width:100%; text-align:right">
                <span style="color: rgb(222, 222, 222); ">Desarrollado por: <a style="text-decoration: none; color:rgb(219, 219, 219)" href="http://www.valentys.com">Valentys Ltda.</a></span>
            </div>
        </div>
    </div>
</body>
</html>

