<p>
	<!-- DESCRIPTION -->
	El servicio <code>Identity</code> es el encargado de canalizar la seguridad y control 
	del usuario actual en el sistema, permitiendo encapsular la lógica de control de usuario
	en la aplicación.

	<br />
	<br />

	Solo se debe ocupar en el caso en que el protocolo de
	seguridad se encuentre basado en 
	<a href="http://oauth.net/2/" target="_blank">OAuth2</a>
	y estandar <a href="http://jwt.io/" target="_blank">JWT</a>
	
	<br />
	<!-- /DESCRIPTION -->

	<!-- USAGE -->
	<h2 class="md-headline">	
		Uso Basico
	</h2>
	<hljs language="js">
app.controller('MyController', function($scope, Identity) {

  if(Identity.isAuthenticated()){
    var user = Identity.getCurrent();
    console.log('Usuario Autenticado!');
    console.log(user.name);	//Claim 'name'
    console.log(user.uid);	//Claim 'PrimarySid'
    console.log(user.property('company'));	//Propiedad Extendida

    if(user.isInRole('ADMIN')){
      console.log('Usuario Adminsitrador!');
    }
  }

});
	</hljs>

	<h2 class="md-headline">
		Configuración Global
	</h2>
	<hljs language="js">
angular.module('App', [
  'ui.router'    //NG ROUTE
  , 'ngMaterial' //MATERIAL DESIGN DIRECTIVES
  , 'gale'       //VALENTYS SDK LIBRARY
])

.config(function($IdentityProvider) {
  $IdentityProvider
    .enable()	//Enable
    .setIssuerEndpoint("api.valentys.com/v1/OAuth/Authorize")
    .setLogInRoute("security/identity/login")
    .setWhiteListResolver(function(toState, current) {

      //Exception State's
      if (toState.name.startsWith("exception.")) {
        return true;
      }

      //Request-Access State's
      if (toState.name.startsWith("public.")) {
        return true;
      }

      //Restrict Other State's
      return false;

    });

})
	</hljs>
	<!-- /USAGE -->
	<h2 class="md-headline">
		Valores de Configuración
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				enable()
			</h3>
			<div class="service-desc">
				<p>
					Habilita el componente de autorización , denegando todo acceso a las rutas
					con excepción de los valores retornados en la funcion <code>setWhiteListResolver</code>.
				</p>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				setIssuerEndpoint(endpoint)
			</h3>
			<div class="service-desc">
				<p>
					Establece el <code>enpoint</code> del servicio de autenticación.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									endpoint
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Ruta del servicio de autenticación.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				setLogInRoute(LoginRoute)
			</h3>
			<div class="service-desc">
				<p>
					Establece la ruta del proyecto que contiene la pagina de autenticación.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									LoginRoute
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Ruta (State Route) de angularJS donde se encuentra el
									servicio de autenticación.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				setWhiteListResolver(function(toState, current){})
			</h3>
			<div class="service-desc">
				<p>
					Función de evaluación de acceso cuando se intenta acceder a una ruta en la
					aplicación, <i>(Útil cuando existen rutas publicas en la aplicación)</i>.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									toState
								</code>
							</td>
							<td>
								Angular State
							</td>
							<td class="description">
								<p>
									Ruta solicitada por el usuario en la aplicación.
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									current
								</code>
							</td>
							<td>
								Angular State
							</td>
							<td class="description">
								<p>
									Ruta actual donde se encuentra el usuario en la aplicación
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
	</ul>

	<!-- METHODS -->
	<h2 class="md-headline">
		Métodos
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Identity.authenticate(credentials);
			</h3>
			<div class="service-desc">
				<p>
					Envia una solicitud de autenticación (POST) hacia un recurso web de
					autenticación, y de acuerdo a la respuesta , el 
					componente identifica al usuario en el sistema.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code class="required">
									credentials
								</code>
							</td>
							<td>
								JSON
							</td>
							<td class="description">
								<p>
									Objeto que contiene los parametros o variables de seguridad
									que solicita el recurso WEB.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									promise
								</code>
							</td>
							<td class="description">
								<p>
									Retorna una 
									<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">promesa</a> 
									estandar con el método <code>then</code> y dos métodos especificos:
									<code>success</code> y <code>error</code> que se ejecutarán de acuerdo al 
									código de estado de la respuesta en la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Identity.getAccessToken();
			</h3>
			<div class="service-desc">
				<p>
					Obtiene el valor del token de acceso contenido en el token JWT.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Valor del token de acceso en formato JWT.
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Identity.getCurrent();
			</h3>
			<div class="service-desc">
				<p>
					Obtiene la información del usuario contenida en el token JWT como un objeto 
					con dos métodos especificos:
					<ul class="doc-list">
						<li>
							<code>property(name)</code>: Obtiene el valor de una propiedad extendida del
							usuario a través del metodo property del servicio <code>$Identity</code>
						</li>
						<li>
							<code>isInRole(role)</code>: Devuelve <code>verdadero</code> en el caso de 
							que el rol (<i>claim "role"</i>) se encuentre asociado al usuario de acuerdo
							a la información contenida en el <code>payload</code> del token JWT.
						</li>
					</ul>
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Información del usuario contenida en el token JWT (payload).
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Identity.isAuthenticated();
			</h3>
			<div class="service-desc">
				<p>
					Verifica si el usuario actual se encuentra identificado en el sistema.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Retorno</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								Boolean
							</td>
							<td class="description">
								<p>
									Retorna <code>verdadero</code> si el usuario se encuentra
									identificado en el sistema; De lo contrario retornará
									<code>falso</code>.
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				$Identity.logOut();
			</h3>
			<div class="service-desc">
				<p>
					Cierra la sesión actual del usuario, limpiando la información de sesión 
					local y ejecutando el evento <code>auth-logout-success</code> al finalizar
					correctamente el cierre.
				</p>
			</div>
			<!-- /METHOD -->
		</li>
		<!-- -->
	</ul>
	<!-- /METHODS -->
	<br />
	<!-- EVENTS -->
	<h2 class="md-headline">
		Eventos
	</h2>
	<ul class="methods">
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				auth-login-success
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta una vez el usuario ha sido autenticado contra el
					servicio de autenticación.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									token
								</code>
							</td>
							<td>
								String
							</td>
							<td class="description">
								<p>
									Token JWT devuelto por el servicio de autenticación.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /EVENTS -->

			<!-- USAGE -->
			<hljs language="js">
app.controller('LayoutController', function($scope, $rootScope) {

  $rootScope.$on("auth-login-success", function(token){
    console.log(token);
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				auth-login-failed
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta si autenticación contra el servicio de autenticación
					fallo.
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									data
								</code>
							</td>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Objeto que contiene la informacion de contexto
									del error. 
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									status
								</code>
							</td>
							<td>
								Number
							</td>
							<td class="description">
								<p>
									Estado HTTP de la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /EVENTS -->

			<!-- USAGE -->
			<hljs language="js">
app.controller('LayoutController', function($scope, $rootScope) {

  $rootScope.$on("auth-login-failed", function(data, status){
    console.log("auth-login-failed");
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				auth-not-authorized
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta el servicio de autenticación responde con estado 
					"No autorizado" (401).
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									data
								</code>
							</td>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Objeto que contiene la informacion de contexto
									del error. 
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									status
								</code>
							</td>
							<td>
								Number
							</td>
							<td class="description">
								<p>
									Estado HTTP de la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /EVENTS -->

			<!-- USAGE -->
			<hljs language="js">
app.controller('LayoutController', function($scope, $rootScope) {

  $rootScope.$on("auth-not-authorized", function(data, status){
    console.log("auth-not-authorized");
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				auth-session-timeout
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta si autenticación contra el servicio de autenticación
					responde con un estado de "Expiración del Token" de autenticación (419 o 440)
				</p>
			</div>
			<div class="api-param-table">
				<table class="no-style">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<!-- -->
						<tr>
							<td>
								<code>
									data
								</code>
							</td>
							<td>
								Object
							</td>
							<td class="description">
								<p>
									Objeto que contiene la informacion de contexto
									del error. 
								</p>
							</td>
						</tr>
						<!-- -->
						<tr>
							<td>
								<code>
									status
								</code>
							</td>
							<td>
								Number
							</td>
							<td class="description">
								<p>
									Estado HTTP de la solicitud.
								</p>
							</td>
						</tr>
						<!-- -->
					</tbody>
				</table>
			</div>
			<!-- /EVENTS -->

			<!-- USAGE -->
			<hljs language="js">
app.controller('LayoutController', function($scope, $rootScope) {

  $rootScope.$on("auth-session-timeout", function(data,status){
    console.log("auth-session-timeout");
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
		<li>
			<!-- METHOD -->
			<h3 class="method-function-syntax">
				auth-logout-success
			</h3>
			<div class="service-desc">
				<p>
					Evento <strong>Global</strong> que se ejecuta cuando se ha cerrado la sesión actual del usuario.
				</p>
			</div>
			<!-- /EVENTS -->

			<!-- USAGE -->
			<hljs language="js">
app.controller('LayoutController', function($scope, $rootScope, $state) {

  $rootScope.$on("auth-logout-success", function(){
    console.log("auth-logout-success");
  });

});
	</hljs>
			<!-- /USAGE -->
		</li>
		<!-- -->
	</ul>
	<!-- /EVENTS -->
</p>