$primary_color: #0D47A1;
$primary_active_color: #0B3F8E;
$primary_hover_color: #033889;
/*
    -----------------------------
    GLOBALS
    -----------------------------
 */

a {
    color: #0D47A1;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.logo {
    div {
        width: 90%;
        max-width: 120px;
        padding-top: 32px;
        img {
            width: 100%;
        }
    }
    span {
        color: #fff;
        padding-top: 8px;
        padding-bottom: 16px;
        font-size: 1.4em;
    }
}
/*  
  -----------------------------
  SIDENAV STYLE
  -----------------------------
 */

.md-sidenav-left {
    min-width: 260px !important;
    background-color: $primary_color;
    md-content {
        background-color: $primary_color;
        max-height: 470px;
        overflow-x: auto;
    }
    .section {
        border: 1px solid transparent;
        border-bottom: 1px solid $primary_active_color;
        md-icon {
            transition: transform 0.45s ease-in-out;
            -webkit-transition: -webkit-transform 0.45s ease-in-out;
        }
    }
    .section.toggled {
        background-color: $primary_active_color;
        md-icon {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }
    .section:focus {
        outline: none;
    }
    md-list {
        padding: 0px;
        md-list-item {
            color: #fff;
            button:hover {
                background-color: $primary_hover_color !important;
            }
            md-icon {
                color: #fff;
            }
        }
    }
    md-list.items {
        md-list-item {
            button {
                padding-left: 32px;
            }
        }
    }
    md-divider {
        color: #5071A5;
        padding: 8px 16px;
    }
}
/*  
  -----------------------------
  LAYOUT (DOC'S)
  -----------------------------
 */

section {
    .doc-title {
        background-color: #F4F2F2;
        color: #525252;
        min-height: 63px;
        h2 {
            font-size: 1.4em;
            font-weight: normal;
            padding-left: 16px;
        }
    }
    ul.doc-list {
        padding-bottom: 16px;
        li {
            font-size: 1em;
            line-height: 1.6em;
            text-align: justify;
            padding-bottom: 4px;
        }
        a {
            font-weight: bold;
        }
    }
    md-content[name=content] {
        margin-top: 16px;
        padding: 0px 16px 16px 16px;
        p {
            line-height: 1.6em;
            text-align: justify;
        }
    }
    code:not(.hljs) {
        color: #106CC8;
        margin-left: 1px;
        margin-right: 1px;
        -webkit-font-smoothing: auto;
        padding: 0.125em 0.35em;
        border-radius: 2px;
        font-size: 1.2em;
    }
    code {
        background: rgba(0, 0, 0, 0.065);
    }
    pre,
    code {
        margin: 0;
        padding: 0;
        overflow-wrap: break-word;
    }
    /* High Light JS */
    hljs:before {
        content: attr(language);
        text-transform: uppercase;
        display: block;
        background: $primary_color;
        color: #FFF;
        line-height: 48px;
        padding: 0 16px;
        border-radius: 2px 2px 0 0;
    }
}

