$primary_color: #0D47A1;
$primary_active_color: #0B3F8E;
$primary_hover_color: #033889;
/*  
  -----------------------------
  GENERAL STYLES
  -----------------------------
 */

.md-sidenav-left {
    min-width: 260px !important;
    background-color: $primary_color;
    md-content {
        background-color: $primary_color;
        max-height: 470px;
        overflow-x: auto;
    }
    .section {
        border: 1px solid transparent;
        border-bottom: 1px solid $primary_active_color;
        md-icon {
            transition: transform 0.45s ease-in-out;
            -webkit-transition: -webkit-transform 0.45s ease-in-out;
        }
    }
    .section.toggled {
        background-color: $primary_active_color;
        md-icon {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }
    .section:focus {
    	outline: none;
    }
    md-list {
        padding: 0px;
        md-list-item {
            color: #fff;
            button:hover {
                background-color: $primary_hover_color !important;
            }
            md-icon {
                color: #fff;
            }
        }
    }
    md-list.items {
        md-list-item {
            button {
                padding-left: 32px;
            }
        }
    }
    md-divider {
		color: #5071A5;
		padding: 8px 16px;
    }
}

section {
    .doc-title {
        background-color: #F4F2F2;
        color: #525252;
        
        h2 {
            font-size: 1.4em;
            font-weight: normal;
            padding-left: 16px;
        }
    }
    md-content[name=content] {
        margin-top: 8px;
        padding-left: 16px;

        p {
			line-height: 1.6em;
        }
    }
}

.pointer {
    cursor: pointer;
}

.logo {
    div {
        width: 90%;
        max-width: 120px;
        padding-top: 32px;
        img {
            width: 100%;
        }
    }
    span {
        color: #fff;
        padding-top: 8px;
        padding-bottom: 16px;
        font-size: 1.4em;
    }
}

