
/*
	RESITER GLOBAL
 */

/* Auto Complete List */
.auto-complete-list .highlight {
    color: #2196F3 !important;
    font-weight: bold;
}

/*Overflow*/
.karma-table .karma-body {
    overflow: auto;
    max-height: 420px;
}

.time-date {
    font-size: 14px !important;
}


/* md-select like "input-container" in form */
md-input-container > md-select {
    flex: 1;
    order: 2;
    margin: 0;
}

filter-message > center,
empty-items > center {
    font-size: 2em;
    color: #C5C5C5;
    padding-top: 3em;
}

filter-message > center > md-icon,
empty-items > center > md-icon{
    height: 50px;
    width: 50px;
    color: #C5C5C5;
}


/* GENERIC MODAL STEP */

md-dialog karma-content {
    min-height: 400px;
    width: 750px;
    padding: 24px;
    overflow: auto;
}
/*
md-dialog .karma-content h4 {
	margin: 10px 0px 4px 0px;
	color: #E13872;
}
*/

md-dialog md-input-container {
    padding-bottom: 0px;
}


md-dialog karma-content > h2.md-subheader.md-default-theme,
md-dialog karma-content > h2.md-title {
    color: #2196F3;
}

md-dialog karma-content > h2.md-title {
    margin:0px 0px 16px 0px;
}

md-dialog karma-content > h2.md-subheader div.md-subheader-inner {
    padding: 16px 0px 16px 0px;
}

md-dialog md-input-container {
    padding-bottom: 0px;
}

/* GENERIC CREATE STEP */
md-icon.remove{
    color:#F44336;
    cursor: pointer;
}

/*
	-----------------------------
	MI UNIDAD DE NEGOCIO
	-----------------------------
 */

.businessUnit.resume div.access {
    min-height: 360px;
}

.businessUnit.resume div.box {
    text-align: center;
    border: 1px solid #D7D7D7;
    margin: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.businessUnit.resume div.box > div.value {
    font-size: 3em;
    color: #FF4081;
}

.businessUnit.resume div.box > div.value md-icon {
    height: 32px;
    width: 32px;
    color: #FF4081 !important;
}

.businessUnit.resume div.box > div.value > div:first-child{
    margin: 0px 8px;
}

.businessUnit.resume div.box > div.title {
    font-size: 1.5em;
    color: #2196F3;
}

.businessUnit.resume div.map {
    margin-top:9px;
}

.businessUnit.resume div.map .angular-google-map-container {
    min-height: 450px;
    min-width: 450px;
}

/*
	-----------------------------
	PROGRAMACIÓN
	-----------------------------
 */

.programming .programming-pad-info {
    float: left;
    color: #FF4081;
    height: 100%;
    font-size: 1.6em;
    padding: 5px 0px 0px 16px;
}

.programming .polygons {
    /* position: fixed; */
    /* left: 0px; */
    width: 250px;
    padding-bottom: 16px;
}

.programming .polygons > div{
    font-size: 0.8em;
    padding-left: 4px;
}

.programming .polygons > div.header{
    height: 34px;
}

.programming .polygons div.row{
    height: 33px;
    white-space: nowrap;
    overflow: hidden;
}

.programming .calendar {
    /* position: fixed; */
    /* right: 0px; */
    /* left: 250px; */
    /* overflow: scroll; */
    padding-bottom: 16px;
}

.programming .polygons table > tr,
.programming .polygons table > tr > td,
.programming .polygons table,
.programming .calendar table > tr,
.programming .calendar table > tr > td,
.programming .calendar table {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

.programming .calendar .day {
    min-width: 30px;
    height: 30px;
    text-align: center;
}

.programming .calendar div.header .day{
    border: 1px solid #D0D0D0;
    border-left: none;
    background-color: #F4F4F4;
    color: #2196F3;
    font-weight: bold;
}

.programming .calendar div.header table tr > td:first-child{
    border-left: 1px solid #D0D0D0;
}

.programming .calendar div.row .day {
    border: 1px solid #D0D0D0;
    border-top: none;
    border-left: none;
}

.programming .calendar div.row table tr > td:first-child{
    border-left: 1px solid #D0D0D0;
}

.programming .calendar div.row .day.active.hover,
.programming .calendar div.row .day.active {
    background-color: #2196F3;
}

.programming .polygons .hover ,
.programming .calendar .hover {
    background-color: #EAEAEA;
}

.programming.update .search {
    border: 1px solid rgb(228, 228, 228);
    width: 95%;
    padding: 4px 6px;
    border-radius: 3px;
}

.programming.update .search input {
    width: 98%;
    border: none;
    font-size: 1.4em;
}

.programming.update .scroll{
    overflow: auto;
    max-height: 428px;
    overflow-x: visible;
    width: 1050px;

}

/*
	-----------------------------
	REPORTS
	-----------------------------
 */
.reports karma-table {
    font-size: 0.7em;
}

.reports karma-table > karma-body {
    max-height: 386px !important;
}

.reports karma-table > karma-body > karma-row{
    color: #000 !important;
}

.reports karma-table > karma-header {
    background: #F0F0F0;
}

.reports karma-content {
    padding-bottom: 0px !important;
}

.reports .karma-table-footer {
    color: #828282;
    background: #F0F0F0;
    padding: 4px 0px;
    margin-top: -6px;
}

.reports .button-form{
    padding-top:28px;
}

.reports .button-form md-icon.md-default-theme {
    color:#FF4081 !important;
    cursor: pointer;
}

.reports div.filters {
    padding:4px 8px 0px 8px;
}

.reports div.filters md-input-container {
    padding-bottom: 16px;
}

/*
	-----------------------------
	MONITOR
	-----------------------------
 */

.monitor .google-marker-programming {
    color: #FFF;
    font-size: 17px;
}

.monitor .angular-google-map-container {
    position: fixed !important;
    top: 64px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.monitor .kpis {
    position: fixed;
    border-radius: 1px;
    margin: 12px 0px 0px 0px;
    left: 8px;
    color: #2196F3;
    opacity: 0.8;
}

.monitor .kpis > .kpi {
    width: 100px;
    background-color: #FFF;
    border-radius: 3px;
    margin: 0px 0px 10px 0px;
    padding: 3px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.monitor .kpis > .kpi .title {
    font-weight: normal;
    color: #2196F3;
    text-align: center;
    border-bottom: 1px solid #EDEDED;
    line-height: 15px;
    padding: 3px 0px;
    font-size: 14px;
}


.monitor .kpis > .kpi.compliance-rate .value {
    height: 100px;
    width: 100px;
}

.monitor .kpis > .kpi.pendings-services .value {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

.monitor .toolbar {
    position: fixed;
    border-radius: 1px;
    margin: 32px 0px 0px 0px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    right: 7px;
    color: #FFF;
    opacity: 0.8;
}

.monitor .toolbar > div {
    background-color: #FFF;
    padding: 8px;
    cursor: pointer;
}

.monitor .toolbar > div > md-icon{
    color: #2196F3;
}

/*.monitor .toolbar > div.active, */
.monitor .toolbar > div:hover {
    background-color: #2196F3;
}

/*.monitor .toolbar > div.active > md-icon , */
.monitor .toolbar > div:hover > md-icon {
    color: #FFF;
}


/* LAYERS BUTTONS */
.monitor .layers {
    position: fixed;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    bottom: 20px;
    right: 35px;
}

.monitor .layers > div div.thumb {
    height:16px;
    width: 16px;
    margin-bottom: 0px;
    line-height:1.1em;
}

.monitor .layers > div div.thumb md-icon{
    height:16px;
    width: 16px;
}

.monitor .layers > div {
    padding: 4px 0px 4px 6px;
    cursor: pointer;
    text-align: left;
    font-size: 0.9em;
    min-width: 150px;
    background: #FFF;
    margin-right: 2px;
    border-radius: 3px;
    color: #545454;
    opacity: 0.6;
}

.monitor .layers > div div.thumb md-icon{
    color: #545454;
}


.monitor .layers > div.active {
    background: #2196F3;
    opacity: 0.8;
    color: #FFF;
}

.monitor .layers > div.active div.thumb md-icon{
    color: #2196F3;
}


/* RIGHT SIDENAV */
.monitor md-sidenav div.main-fab{
    right: 17px;
    top: 29px;
    left: auto;
}

.monitor md-sidenav div.thumb,
.monitor md-sidenav div.thumb > md-icon{
    width: 48px;
    height: 48px;
    color: #2196F3;
    margin-bottom: 0px;
}

.monitor md-sidenav h2 {
    padding-right: 75px;
    text-align: justify;
    padding-top: 0px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 16px;
    margin-right: 0px;
    padding-bottom: 5px;
    height: 95px;
}

.monitor md-sidenav md-content {
    overflow-x:hidden;
}

.monitor md-sidenav.md-sidenav-right karma-content {
    margin: 0px;
    padding: 0px;
    height: 455px;
    overflow: auto;
}

/* GENERAL SIDE-PANEL LAYER'S */
.monitor md-sidenav md-content.side-content h4 {
    margin: 16px 0px 0px 4px;
    color: #848484;
}

.monitor md-sidenav md-content.side-content karma-content div.thumb {
    width: 36px;
    height: 36px;
    color: #2196F3;
    margin-bottom: 0px;
}

.monitor md-sidenav md-content.side-content karma-content > div {
    min-height: 55px;
}

.monitor md-sidenav md-content.side-content div.label.title{
    font-weight: normal;
    color: #767676;
    padding-left: 1em;
}

.monitor md-sidenav md-content.side-content div.picture{
    width: 265px;
    height: 265px;
    background-color: #F4F4F4;
    margin-top: 8px;
    overflow: hidden;
}

.monitor md-sidenav md-content.side-content div.picture > img{
    height: 100%;
}


.monitor md-sidenav md-content.side-content div.counter-panel {
    padding-top: 9px;
    text-align: right;
    color: #919191;
    font-style: italic;
    border-top: 1px solid #E2E2E2;
}


.monitor md-sidenav md-content.side-content karma-content div.empty,
.monitor md-sidenav md-content.side-content karma-content div.label > div.date {
    font-size: 14px;
    color: #8B8B8B;
    padding-bottom: 3px;
    font-style: italic;
}

.monitor md-sidenav md-content.side-content karma-content div.label > div.date.right {
    float: right;
    margin-top: -7px;
}

.monitor md-sidenav md-content.side-content karma-content div.status {
}

.monitor md-sidenav md-content.side-content karma-content div.status > div:first-child {
    color: #FF407F;
    padding-right: 5px;
    font-size: 1.1em;
}

.monitor md-sidenav md-content.side-content karma-content div.status > div.sign {
    font-weight: bold;
    font-size: 1.2em;
}

.monitor md-sidenav md-content.side-content karma-content div.status > div:last-child {
    color: #2196F3;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 3px;
}


/* DETAIL POINT LAYER */
.monitor md-sidenav md-content.side-content div.panel.point karma-content {
    padding-top: 0px;
}

.dialog.modal-details-point karma-content {
    min-height: inherit;
    width: auto;
    padding: inherit;
    overflow: auto;
}


/* PROGRAMMING LAYER */
.monitor md-sidenav.md-sidenav-right div.programming div.title{
    font-weight: bold;
    color: #3A3A3A;
}

.monitor md-sidenav.md-sidenav-right div.programming div.label{
    color: #888;
}

.monitor md-sidenav.md-sidenav-right div.programming div.thumb.pin {
    height: 34px;
    width: 36px;
    margin-left: 16px;
    margin-right: 18px;
}

.monitor md-sidenav.md-sidenav-right div.programming div.thumb.driver {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-top: -1em;
}

.monitor md-sidenav.md-sidenav-right div.programming div.point {
    padding-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #E2E2E2;
}

/*
	-----------------------------
	DASHBOARD
	-----------------------------
 */
.dashboard .graph  div.title {
    text-align: center;
    padding: 8px 0px;
    margin: 10px 10px 3px 10px;
    font-size: 1.6em;
    border-bottom: 1px solid #E0E0E0;
    color: rgba(0, 0, 0, 0.54);
}

.dashboard .graph md-whiteframe {
    height: 403px;
    border-radius: 4px;
    overflow: hidden;
}

.dashboard .graph md-whiteframe karma-content {
    height: 325px;
    padding: 0px 0px 0px 0px;
}

/* DRIVER FRAME */
.dashboard .graph md-whiteframe karma-content .karma-row {
    border-bottom: none;
    padding-top: 5px;
}

.dashboard .graph md-whiteframe karma-content .karma-row div.name {
    font-size: 17px;
}

.dashboard .graph md-whiteframe karma-content .karma-row div.counter {
    color: #2196F3;
    font-size: 21px;
}

.dashboard .graph md-whiteframe karma-content .karma-row .thumb {
    height: 58px;
    width: 58px;
    margin-left: 0px;
}

.dashboard .graph md-whiteframe karma-content .karma-row .graph-thumb {
    height: 90px;
    width: 90px;
    position: absolute;
    margin-top: -16px;
    margin-left: -16px;
}

.dashboard .graph md-whiteframe karma-content .karma-row .graph-thumb .legend-value {
    display: none;
}

.dashboard .graph md-whiteframe karma-content .karma-row .graph-thumb .thumb-counter {
    position: absolute;
    background-color: #FF5722;
    color: #FFF;
    padding: 3px 5px;
    border-radius: 9px;
    margin-left: 53px;
    margin-top: -36px;
    font-size: 13px;
}

.dashboard .graph .big div.box {
    height: 250px;
    width: 250px;
}

.dashboard .graph .big {
    background-color: #2196F3 !important;
    cursor: pointer;
}

.dashboard .graph .big > div.title {
    border-bottom: 1px solid #FFF;
    color: #FFF;
    margin: 10px 10px 45px 10px;
}

.dashboard .graph .big #n3-pie-arcs path:first-child {
    fill-opacity: 1 !important;
}

.dashboard .graph .big #n3-pie-arcs path:last-child {
    fill: #2196F3 !important;
}

.dashboard .graph .big #n3-pie-legend .legend-value {
    fill-opacity: 1 !important;
}


.dashboard .graph .medium {
    margin-left: 33px;
    margin-right: 33px;
}

.dashboard .graph .medium md-whiteframe {
    height: 185px;
}

.dashboard .graph .medium md-whiteframe:first-child {
    margin-bottom: 33px;
}

.dashboard .graph .medium > md-whiteframe div.counter {
    text-align: center;
    font-size: 52px;
    color: #FF5722;
}

.dashboard .graph .medium > md-whiteframe div.name {
    text-align: center;
    font-size: 1.4em;
    color: #888;
    padding: 0px;
    margin: 0px;
}

.dashboard .graph .medium > md-whiteframe div.name-graph {
    color: #2196F3;
}

.dashboard .graph .medium div.box {
    height: 80px;
    width: 80px;
}

.dashboard .graph .medium #n3-pie-legend .legend-value {
    font-size: 18px !important;
    fill-opacity: 1 !important;
}

.dashboard .graph .medium #n3-pie-arcs path:first-child,
.dashboard .graph .medium #n3-pie-legend .legend-value {
    font-size: 18px !important;
    fill-opacity: 1 !important;
}


.dashboard-details karma-table {
    margin-left: 10px;
}

.dashboard-details karma-table karma-body {
    height: 425px;
    overflow: auto;
}

.dashboard-details .graph .big div.box {
    height: 200px;
    width: 200px;
}

.dashboard-details .graph .big .legend {
    margin-top: 10px;
    margin-left: 35px;
}

.dashboard-details .graph .big .legend > div {
    padding-bottom: 5px;
}

.dashboard-details .marker{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.dashboard-details md-checkbox {
    margin:0px;
}

.dashboard-details .marker.failure{
    background-color: #F4665C;
}

.dashboard-details .marker.success{
    background-color: #4CAF50;
}

.dashboard-details .marker.pending{
    background-color: #FFC107;
}

/*
	-----------------------------
	ROUTE
	-----------------------------
 */
.administration.administration-route md-toolbar .selected-day {
    font-size: 1em;
}

.administration.administration-route md-whiteframe{
    padding: 8px;
    border-radius: 3px;
    margin:0px 4px;
    background-color: #FDFDFD;
}

.administration.administration-route div.picker {
    width: 140px;
    background-color: #42A5F5;
    text-align: center;
    color: #FFF;
}

.administration.administration-route div.picker > div:first-child {
    background-color: #2196F3;
    padding: 5px;
    text-transform: capitalize;

}

.administration.administration-route div.picker > div:last-child div.month {
    padding-top: 18px;
    line-height: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.administration.administration-route div.picker > div:last-child div.day {
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
}

.administration.administration-route div.picker > div:last-child div.year {
    line-height: 14px;
    font-size: 14px;
    padding-bottom: 18px;
}

.administration.administration-route karma-body karma-row md-icon.print{
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: #FF4081;
}

.administration.administration-route.update h2 {
    margin: 0px;
    color: #2196F3;
}

.administration.administration-route.update karma-body{
    overflow: auto;
    max-height: 310px;
}

.administration.administration-route.update karma-body karma-row div.thumb{
    margin-left: 0px;
}

.administration.administration-route.update karma-pad .panel {
    float: left;
    color: #FF4081;
}

.administration.administration-route.update karma-pad .panel > div:first-child {
    font-size: 2.15em;
    padding-right: 8px;
    padding-left: 8px;
}

md-dialog.administration.administration-route karma-content {
    min-height: 420px;
    width: 750px;
    padding: 24px;
    overflow: visible;
}

md-dialog.administration.administration-route empty-items > center {
    padding-top: 1.5em;
}

md-dialog.administration.administration-route .karma-row {
    border-bottom: none;
}

md-dialog.administration.administration-route .karma-body {
    max-height: 290px;
}

/* Block click in the md-checkbox */
md-dialog.administration.administration-route .karma-row div.brick {
    height: 30px;
    width: 28px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    margin-left: -5px;
    margin-top: -28px;
}

md-dialog.administration.administration-route .karma-row  md-checkbox{
    margin: 0px 0px 2px 0px;
}

md-dialog.administration.administration-route .karma-row label.quantity {
    font-size: 15px;
    font-style: italic;
    padding-left: 2px;
}

md-dialog.administration.administration-route .karma-row label.quantity > input{
    width: 45px;
    font-size: 23px;
    text-align: center;
    border: 1px solid #A1A1A1;
    padding-left: 16px;
    color: #2196F3;
    border-radius: 3px;
    margin-right: 3px;
}

md-dialog.administration.administration-route .karma-row div.polygon-name {
    font-size: 0.9em;
}

md-dialog.administration.administration-route .karma-row div.polygon-name.selected {
    color:#FF4081;
}

/* CHANGE DATE DIALOG */
md-dialog.administration.administration-route.change-date h2.md-subheader{
    font-size: 1.4em;
    text-align: center;
}

md-dialog.administration.administration-route.change-date karma-content {
    min-height: 200px;
    width: 350px;
    padding: 24px;
    overflow: auto;
}

md-dialog.administration.administration-route.change-date md-icon.arrows{
    width: 70px;
    height: 70px;
    cursor: pointer;
    color: #1D83D5;
}

/*
	-----------------------------
	USER
	-----------------------------
 */
.administration.administration-user .warning-message{
    color: #F00;
    font-size: 0.7em;
    font-style: italic;
}

/*
	-----------------------------
	BUSINESS UNIT 
	-----------------------------
 */

/* STEP 2 */

.businessunit-create.step-2 karma-table md-checkbox {
    margin:0px;
}

.businessunit-create.step-2 karma-table karma-row {
    min-height: 57px;
}

/* STEP 3 */

.businessunit-create.step-3 karma-table > .karma-body > .karma-row .thumb {
    margin-left:3px;
}


.businessunit-create.step-3 karma-table > .karma-body {
    height: 345px;
    overflow: auto;
}

.businessunit-create.step-3 div.sub-header {
    background-color: #2196F3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    padding: 5px;
}

.businessunit-create.step-3 div.sub-header md-icon.search {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    color: #FFF;
}

.businessunit-create.step-3 div.sub-header md-autocomplete {
    background-color: #2196F3;
    box-shadow: none;
    min-width: 280px;
    float: left;
}

.businessunit-create.step-3 div.sub-header input::-webkit-input-placeholder {
    color: #fff;
}

.businessunit-create.step-3 div.sub-header input::-moz-placeholder {
    color: #fff;
}

.businessunit-create.step-3 div.sub-header input:-moz-placeholder {
    color: #fff;
}

.businessunit-create.step-3 div.sub-header input:-ms-input-placeholder ,
{
    color: #fff;
}

.businessunit-create.step-3 div.sub-header input {
    padding: 0 15px 0px 5px;
    color: #fff;
}

.businessunit-create.step-3 md-whiteframe {
    border-radius: 4px;
}


.businessunit-create.step-3 button.next {
    height: 40px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.businessunit-create.step-3 div.counter {
    float: right;
    padding: 0px 10px 10px 0px;
    color: #ADADAD;
    font-style: italic;
}

/* STEP 4 */

.businessunit-create.step-4 karma-body{
    height: 375px;
    overflow: auto;
}


md-dialog.businessunit-create.step-4 .karma-body {
    overflow: auto;
    height: 240px;
}

md-dialog.businessunit-create.step-4 .karma-body .karma-row {
    border-bottom: none !important;
}

md-dialog.businessunit-create.step-4 .karma-body .karma-row md-checkbox{
    margin:0px;
}

/* STEP 5 */

/* ELIMINA EL BACKDROP DEL SIDENAV */
.businessunit-create.step-5 md-backdrop {
    display: none;
}

.businessunit-create.step-5 .angular-google-map-container {
    position: fixed !important;
    top: 64px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.businessunit-create.step-5 .kpis {
    position: fixed;
    border-radius: 1px;
    margin: 40px 0px 0px 0px;
    left: 8px;
    color: rgb(255, 64, 129);
    opacity: 0.8;
}

.businessunit-create.step-5 .kpis > .kpi {
    width: 85px;
    background-color: #FFF;
    border-radius: 3px;
    margin: 0px 0px 10px 0px;
    padding: 3px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.businessunit-create.step-5 .kpis > .kpi .title {
    font-weight: normal;
    color: rgb(255, 64, 129);
    text-align: center;
    border-bottom: 1px solid #EDEDED;
    line-height: 15px;
    padding: 3px 0px;
    font-size: 14px;
}

.businessunit-create.step-5 .kpis > .kpi.pendings-services .value {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}


/* LEFT SIDENAV */

.businessunit-create.step-5 md-sidenav div.panel.details div.main-fab{
    position: fixed;
}

.businessunit-create.step-5 md-sidenav div.panel.details div.hovered {
    position: fixed;
    margin: 0px 40px;
    opacity: 0.95;
    margin-top: -5px;
}


.businessunit-create.step-5 md-sidenav div.main-fab{
    right: 17px;
    top: 29px;
    left: auto;
}

.businessunit-create.step-5 md-sidenav div.thumb,
.businessunit-create.step-5 md-sidenav div.thumb > md-icon{
    width: 48px;
    height: 48px;
    color: #2196F3;
    margin-bottom: 0px;
}

.businessunit-create.step-5 md-sidenav h2 {
    padding-right: 75px;
    text-align: justify;
    padding-top: 0px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 16px;
    margin-right: 0px;
    padding-bottom: 5px;
    height: 95px;
}

.businessunit-create.step-5 md-sidenav md-content {
    overflow-x:hidden;
}

.businessunit-create.step-5 md-sidenav .panel.details {
    margin: 16px 0px 0px 0px;
    padding: 0px;
}

.businessunit-create.step-5 md-sidenav .panel.polygons karma-content {
    max-height: 502px;
}

/* GENERAL SIDE-PANEL LAYER'S */
.businessunit-create.step-5 md-sidenav h4 {
    margin: 16px 0px 0px 4px;
    color: #848484;
}

.businessunit-create.step-5 md-sidenav karma-content div.thumb {
    width: 36px;
    height: 36px;
    color: #2196F3;
    margin-bottom: 0px;
}

.businessunit-create.step-5 md-sidenav karma-content > div {
    min-height: 55px;
}

.businessunit-create.step-5 md-sidenav div.label.title{
    font-weight: normal;
    color: #767676;
    padding-left: 1em;
}

.businessunit-create.step-5 md-sidenav div.counter-panel {
    padding-top: 9px;
    text-align: right;
    color: #919191;
    font-style: italic;
    border-top: 1px solid #E2E2E2;
}


.businessunit-create.step-5 md-sidenav karma-content div.empty,
.businessunit-create.step-5 md-sidenav karma-content div.label > div.date {
    font-size: 14px;
    color: #8B8B8B;
    padding-bottom: 3px;
    font-style: italic;
}

.businessunit-create.step-5 md-sidenav  karma-content div.label > div.date.right {
    float: right;
    margin-top: -7px;
}

.businessunit-create.step-5 md-sidenav karma-content div.status {
}

.businessunit-create.step-5 md-sidenav karma-content div.status > div:first-child {
    color: #FF407F;
    padding-right: 5px;
    font-size: 1.1em;
}

.businessunit-create.step-5 md-sidenav karma-content div.status > div.sign {
    font-weight: bold;
    font-size: 1.2em;
}

.businessunit-create.step-5 md-sidenav karma-content div.status > div:last-child {
    color: #2196F3;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 3px;
}

.businessunit-create.step-5 md-sidenav .header{
    margin-top:24px;
}

.businessunit-create.step-5 md-sidenav .header > div{
    width: 100%;
}

.businessunit-create.step-5 md-sidenav .header > div input{
    width: 90%;
}

.businessunit-create.step-5 md-sidenav .services div.label {
    color: rgb(155, 155, 155);
}

.businessunit-create.step-5 md-sidenav .services {
    overflow: auto;
    overflow-x: hidden;
    min-height: 360px;
    padding: 6px;
}

.businessunit-create.step-5 md-sidenav md-input-container {
    padding-bottom: 10px;
}

.businessunit-create.step-5 md-sidenav .services > div {
    opacity: 0.6;
    min-height: 45px;
}

.businessunit-create.step-5 md-sidenav .services > div.active {
    opacity: 1;
}


.businessunit-create.step-5 md-sidenav .services div.thumb img {
    width: 100%;
    height: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.businessunit-create.step-5 md-sidenav .services div.active div.label {
    color: rgb(79, 79, 79);
    font-weight: bold;
}

.businessunit-create.step-5 md-sidenav .services div.active div.thumb img {
    filter: none;
    -webkit-filter: grayscale(0%);
}

/* DIALOG STEP 5 */


md-dialog.businessunit-create.step-5 karma-content {
    width: auto;
    min-height: inherit;
}


md-dialog.businessunit-create.step-5.coordinates karma-content {
    width: 400px;
    min-height: 200px;
}


/* STEP 6 */

.businessunit-create.step-6 karma-table > .karma-body > .karma-row .thumb {
    margin-left:3px;
}


.businessunit-create.step-6 karma-table > .karma-body {
    height: 345px;
    overflow: auto;
}

.businessunit-create.step-6 div.sub-header {
    background-color: #2196F3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    padding: 5px;
}

.businessunit-create.step-6 div.sub-header md-icon.search {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    color: #FFF;
}

.businessunit-create.step-6 div.sub-header md-autocomplete {
    background-color: #2196F3;
    box-shadow: none;
    min-width: 480px;
    float: left;
}

.businessunit-create.step-6 div.sub-header input::-webkit-input-placeholder {
    color: #fff;
}

.businessunit-create.step-6 div.sub-header input::-moz-placeholder {
    color: #fff;
}

.businessunit-create.step-6 div.sub-header input:-moz-placeholder {
    color: #fff;
}

.businessunit-create.step-6 div.sub-header input:-ms-input-placeholder ,
{
    color: #fff;
}

.businessunit-create.step-6 div.sub-header input {
    padding: 0 15px 0px 5px;
    color: #fff;
}

.businessunit-create.step-6 md-whiteframe {
    border-radius: 4px;
}


.businessunit-create.step-6 button.next {
    height: 40px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.businessunit-create.step-6 div.counter {
    float: right;
    padding: 0px 10px 10px 0px;
    color: #ADADAD;
    font-style: italic;
}


/* Lista y filtro buscar*/

.filters {
    padding: 1rem;
}

.filtersIco {
    background-color: #F4F4F4;
}

.filterTittle {
    color: rgb(33,150,243) !important;
}

