<p>
	Gale esta construido por un increible grupo de contribuidores.
	<br />
	Estas son algunas de las personas que han creado esta versión para tí.

    <h2 class="md-headline">
    	Quienes hicieron esto posible:
	</h2>

	<div class="contributors">
		<!-- -->
		<div>
			<a href="https://github.com/dmunozgaete" target="_blank">
				<img src="http://s.gravatar.com/avatar/2c948809951c158576c81cbdf5c24360?s=100" />
			</a>
			<md-tooltip md-direction="top">
				David Antonio Muñoz Gaete
			</md-tooltip>
		</div>
		<!-- -->
		<div>
			<a href="http://www.valentys.com" target="_blank">
				<img src="https://dl.dropboxusercontent.com/u/24087768/GrupoValentys/Logos/Isotipos/Grupo-Valentys%20-%20Fondo-Negro.png" />
			</a>
			<md-tooltip md-direction="top">
				Grupo Valentys
			</md-tooltip>
		</div>
		<!-- -->
		<div>
			<a href="http://cl.linkedin.com/pub/marco-ruiz/33/6a6/b81" target="_blank">
				<img src="http://s.gravatar.com/avatar/9703b680bba2232d6db93363465eeb3f?s=100" />
			</a>
			<md-tooltip md-direction="top">
				Marco Ruiz
			</md-tooltip>
		</div>
		<!-- -->
		<div>
			<a href="https://www.linkedin.com/pub/rafael-jos%C3%A9-heredia-bastidas/65/a52/518" target="_blank">
				<img src="http://s.gravatar.com/avatar/c313e0e0240a6e9984f592a648c0d605?s=100" />
			</a>
			<md-tooltip md-direction="top">
				Rafael Heredia
			</md-tooltip>
		</div>
		<!-- -->
	</div>

	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<p style="font-size: 0.8em; position: fixed; bottom: 0px;">
		<strong>2015</strong> Grupo Valentys, publicado bajo la licencia Apache 2.0 
		<br />
		Gale es una marca de <a href="http://www.valentys.com" target="_blank">Grupo Valentys.</a>
	</p>
</p>
