<p>
    <ul class="documents">
    
        <li class="divider">
    		Presentaciones
    	</li>
    	<!-- -->
        <li>
        	<a href="http://www.slideshare.net/DmunozGaete/gale-v211" layout="colum" target="_blank">
	            <div>
	                <img  style="width:100%" src="http://img.youtube.com/vi/JL2LTPetqnA/hqdefault.jpg">
	            </div>
	            <div>

	            	<h3>
	                	Introducción a GALE
	                </h3>
	                <span>
	                	Introducción y acercamiento al Framework GALE y ventajas principales de usarlo
	                </span>

	            </div>
            </a>
        </li>
        <!-- -->
        <li>
        	<a href="http://www.slideshare.net/DmunozGaete/gale-1ra-sesion" layout="colum" target="_blank">
	            <div>
	                <img  style="width:100%" src="http://img.youtube.com/vi/ycXbDPiIy0s/hqdefault.jpg">
	            </div>
	            <div>

	            	<h3>
	                	Framework GALE - Sesión 1 / 3
	                </h3>
	                <span>
	                	Primer Curso interactivo sobre GALE, conceptos claves, principios RESTFul 
	                	y alcances basicos del framework de Servidor.
	                </span>
	            </div>
            </a>
        </li>


        <li class="divider">
    		Videos
    	</li>
    	<!-- -->
        <li>
        	<a href="https://youtu.be/JL2LTPetqnA" layout="colum" target="_blank">
	            <div>
	                <img  style="width:100%" src="http://img.youtube.com/vi/JL2LTPetqnA/hqdefault.jpg">
	            </div>
	            <div>

	            	<h3>
	                	Creación y Exposición de un Servicio de Negocio en GALE
	                </h3>
	                <span>
	                	Genera un servicio basico de obtención de usuario, y lo expone en 
	                	una API en 3 endpoint's distintos.
	                </span>

	            </div>
            </a>
        </li>
        <!-- -->
        <li>
        	<a href="https://youtu.be/ycXbDPiIy0s" layout="colum" target="_blank">
	            <div>
	                <img  style="width:100%" src="http://img.youtube.com/vi/ycXbDPiIy0s/hqdefault.jpg">
	            </div>
	            <div>

	            	<h3>
	                	Creación y Exposición de un Modelo con BluePrint Controller
	                </h3>
	                <span>
	                	Expone un modelo en una API, de acuerdo al principio RESTFul
	                	(<i>concepto BluePrint</i>).
	                </span>

	            </div>
            </a>
        </li>
    </ul>
    
</p>
