
<!-- LAYOUT -->
<md-toolbar class="header">
	<h1 class="md-toolbar-tools">
		<div class="logo">
		</div>
	</h1>
</md-toolbar>

<!-- CONTENT VIEW -->
<md-content  layout="column" layout-fill layout-align="start center">
	
	<br />
	<br />
	<br />
	<span class="md-primary" style="color: rgb(33, 150, 243); font-size: 1.4em;">
		Estimado(a) <strong>{{user.unique_name}}</strong>:
		<br />
		<br />
		Complete los pasos a continuación para actualizar la contraseña en el sistema
	</span>
	<br />

	<md-whiteframe class="md-whiteframe-z1" style="min-height: 300px;min-width: 450px;" layout-padding>
		<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Ingrese su nueva Contraseña</h2>
			</div>
		</md-toolbar>
		<md-content layout-padding>
			<form name="form">
				<md-input-container>
					<label>Contraseña</label>
					<input maxlength="20" type="password" required name="password" ng-model="user.password">
				</md-input-container>

				<md-input-container>
					<label>Repita la Contraseña</label>
					<input maxlength="20" type="password" required name="passwordconfirm" ng-model="user.passwordconfirm">
				</md-input-container>

				<div layout="column" layout-align="center end">

					<md-button ng-click="save(user)" class="md-warn md-raised" ng-disabled="!form.$valid">
						<md-icon md-svg-src="{{ 'action' | icon:'ic_lock_outline_24px' }}"></md-icon>
						Cambiar Clave
					</md-button>
					
				</div>


			</form>
		</md-content>
	</md-whiteframe>

</md-content>

<karma-loading default-message="Actualizando Contraseña..." />

