<karma-page class="businessunit-create step-6">
    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="main-fab wizard">
            <md-tooltip md-direction="right">
                {{ 'Navigation.Back' | localize }}
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="back()">
                <md-icon md-svg-src="{{ 'navigation' | icon:'ic_arrow_back_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Unidad de Negocio > Acceso de Usuarios</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>

    <karma-content layout="row">

        <md-whiteframe class="md-whiteframe-z1" flex layout-margin>
            <!-- -->
            <div class="sub-header">
                
                <md-icon class="search" md-svg-src="{{ 'action' | icon:'ic_search_24px' }}"></md-icon>
           
                <md-autocomplete      
                    md-autoselect="false"     
                    md-search-text="data.users.filter"
                    md-min-length="3"
                    md-menu-class="auto-complete-list"
                    md-selected-item="data.users.item"
                    md-search-text-change="data.users.change()"
                    md-selected-item-change="data.users.add(data.users.item)"
                    md-items="item in data.users.search(data.users.filter)"
                    placeholder="Ingrese el usuario a otorgarle acceso a la unidad de negocio">

                    <span md-highlight-text="data.users.filter" md-highlight-flags="^i">{{item.name}}</span>
                </md-autocomplete>
                
            </div>
            <!-- -->
            <karma-table name="TDrivers" items="data.users.items" show-header="false">

                <karma-column width="10">
                    <karma-item>
                        <div class="thumb">
                            <img ng-src="{{item.photo | restricted}}" />
                        </div>
                    </karma-item>
                </karma-column>

                <karma-column>
                    <karma-item>
                        {{item.name}}
                    </karma-item>
                </karma-column>

                <karma-column width="30">
                    <karma-item>
                        <i>{{item.email}}</i>
                    </karma-item>
                </karma-column>

                <karma-column width="10" align="right">
                    <karma-item>
                        <md-icon class="remove" md-svg-src="{{ 'action' | icon:'ic_highlight_remove_24px' }}"></md-icon>
                    </karma-item>
                </karma-column>


            </karma-table>
            <!-- -->
            <div class="counter">
                {{data.users.items.length}} 
                <span ng-if="data.users.items.length == 1">
                    usuario seleccionado
                </span>
                <span ng-if="data.users.items.length == 0 || data.users.items.length > 1 ">
                    usuarios seleccionados
                </span>
            </div>
            <!-- -->
        </md-whiteframe>

    </karma-content>

</karma-page>