<karma-page class="businessunit-create step-4">
    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="main-fab wizard">
            <md-tooltip md-direction="right">
                {{ 'Navigation.Back' | localize }}
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="back()">
                <md-icon md-svg-src="{{ 'navigation' | icon:'ic_arrow_back_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Unidad de Negocio > Configuración de Servicios</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>

    <karma-content>
        <karma-table items="data.items" name="TServices">

            <karma-column width="10">
                <karma-item>
                    <div class="thumb">
                        <img ng-src="{{item.imagen | restricted}}" />
                    </div>
                </karma-item>
            </karma-column>

            <karma-column property="nombre" width="15" title="Nombre"></karma-column>

            <karma-column  title="Foto Ok" >
                <karma-item>
                    <template>
                        <md-switch ng-model="item.fotoOk" aria-label="al"></md-switch>
                    </template>
                </karma-item>
            </karma-column>

            <karma-column  title="Foto No Ok" >
                <karma-item>
                    <template>
                        <md-switch ng-model="item.fotoNOK" aria-label="al"></md-switch>
                    </template>
                </karma-item>
            </karma-column>

            <karma-column  title="Leer QR" >
                <karma-item>
                    <template>
                        <md-switch ng-model="item.lecturaQR" aria-label="al"></md-switch>
                    </template>
                </karma-item>
            </karma-column>

            <karma-column  title="HDR" >
                <karma-item>
                    <template>
                        <md-switch ng-model="item.hojaRuta" aria-label="al"></md-switch>
                    </template>
                </karma-item>
            </karma-column>

            <karma-column  title="Con Disposición" >
                <karma-item>
                    <template>
                        <md-switch ng-model="item.disposicion" aria-label="al"></md-switch>
                    </template>
                </karma-item>
            </karma-column>

            <karma-column property="identificador" width="15" title="Contrato" ></karma-column>

            <karma-column width="5" align="right">
                <karma-item>
                    <md-icon class="remove" md-svg-src="{{ 'action' | icon:'ic_highlight_remove_24px' }}"></md-icon>
                </karma-item>
            </karma-column>

        </karma-table>

    </karma-content>

    <karma-pad>
        <md-button class="md-raised md-warn" style="float:left" ng-click="add()">
            Asociar Nuevo Servicio
            <md-icon md-svg-src="{{ 'content' | icon:'ic_add_24px' }}"></md-icon>
        </md-button>

        <md-button ng-disabled="data.items.length == 0" class="md-raised md-primary next" ng-click="save()">
            Guardar y Continuar con la Configuración de Poligonos
            <md-icon md-svg-src="{{ 'hardware' | icon:'ic_keyboard_arrow_right_24px' }}"></md-icon>
        </md-button>
    </karma-pad>

    <!-- MODAL TEMPLATE -->
    <script type="text/ng-template" id="modal.tmpl">
        <md-dialog aria-label="" class="businessunit-create step-4 dialog">

            <form name="form" name="form" >
                <!-- -->
                <karma-content class="sticky-container">

                    <md-subheader class="md-sticky-no-effect">Asociar Nuevo Tipo de Servicio</md-subheader>

                    <div class="dialog-content">

                        <!-- -->
                        <md-autocomplete required
                            md-search-text="data.contract.filter"
                            md-min-length="3"
                            md-delay="250"
                            md-selected-item="data.contract.item"
                            md-menu-class="auto-complete-list"
                            md-item-text="item.identificador"
                            md-search-text-change="data.contract.change()"
                            md-selected-item-change="data.contract.add(data.contract.item)"
                            md-items="item in data.contract.search(data.contract.filter)"
                            md-floating-label="Ingrese el número de Contrato">


                            <span md-highlight-text="data.contract.filter" md-highlight-flags="^i">{{item.identificador}}</span>

                        </md-autocomplete>
                        <!-- -->
                        <br />
                        <h4>
                            Seleccione el Tipo de Servicio
                        </h4>
                        <!-- -->
                        <karma-table name="TTypes" show-header="false">

                            <karma-column width="15">
                                <karma-item>
                                    <div class="thumb">
                                        <img ng-src="{{item.imagen | restricted}}" />
                                    </div>
                                </karma-item>
                            </karma-column>
                            
                            <karma-column property="nombre"></karma-column>

                            <karma-column width="10">
                                <karma-item>
                                    <template>
                                        <md-checkbox ng-if="item.selected" ng-disabled="true" aria-label="al" ng-checked="item.selected">
                                        </md-checkbox>
                                    </template>
                                </karma-item>
                            </karma-column>

                        </karma-table>
                        <!-- -->
                        
                    </div>
                </karma-content>
                <!-- -->
                <div class="md-actions" layout="row">

                    <md-button ng-click="back()" aria-label="al">
                        {{'GLOBAL_CANCEL_LABEL' | localize }}
                    </md-button>

                    <md-button ng-disabled="data.contract.item == null ||  data.serviceTypes.length == 0" aria-label="al" ng-click="save()" class="md-primary md-raised">
                        Asociar
                    </md-button>

                </div>
                <!-- -->
            </form>

        </md-dialog>
    </script>
    <!-- /MODAL TEMPLATE -->

</karma-page>