<karma-page class="businessunit-create step-1">
    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="main-fab wizard">
            <md-tooltip md-direction="right">
                {{ 'Navigation.Back' | localize }}
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="back()">
                <md-icon md-svg-src="{{ 'navigation' | icon:'ic_arrow_back_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Nueva Unidad de Negocio > Selección de Cliente</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>
</br>
</br>
</br>
     <div layout class="filters">
        <md-input-container flex="30">
            <label>Nombre Cliente</label>
            <input ng-model="clientName"></input>
        </md-input-container>
    </div>
    <md-content>
        <md-list>
             <md-list-item class="md-2-line" ng-repeat="item in data.clients | filter:clientName:strict" ng-click="rowClick(item)">

                    <img class="md-avatar filtersIco" ng-src="{{item.imagen | restricted }}" />

                <div class="md-list-item-text">
                    <h3>{{ item.nombre }}</h3>
                    <h4 class="filterTittle">{{item.creacion | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</h4>
                </div>
                 <md-divider></md-divider>
            </md-list-item>

        </md-list>
    </md-content>


        <!--<karma-table row-click="rowClick">

            <karma-column width="10">
                <karma-item>
                    <div class="thumb">
                        <img ng-src="{{item.imagen | restricted }}" />
                    </div>
                </karma-item>
            </karma-column>

            <karma-column property="nombre" title="Nombre"></karma-column>
            <karma-column width="20" title="Fecha Creación">
                <karma-item>
                    <span title="{{item.creacion}}">
                        <span>{{item.creacion | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</span>
                    </span>
                </karma-item>
            </karma-column>

        </karma-table>-->

</karma-page>
