<karma-page>
    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="main-fab">
            <md-tooltip md-direction="right">
                Crear Nueva Unidad de Negocio
            </md-tooltip>
            <md-button class="md-fab md-warn" aria-label="al" ng-click="create()">
                <md-icon md-svg-src="{{ 'content' | icon:'ic_add_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Unidades de Negocio</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>

    <karma-content>
        <karma-table row-click="edit">

            <karma-column width="10">
                <karma-item>
                    <div class="thumb">
                        <img ng-src="{{item.imagen | restricted}}" />
                    </div>
                </karma-item>
            </karma-column>

            <karma-column property="nombre" title="Nombre"></karma-column>
            <karma-column property="cliente" title="Cliente"></karma-column>
            <karma-column title="Fecha Creación" width="20">
                <karma-item>
                    <span title="{{item.creacion}}">
                        <span>{{item.creacion | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</span>
                    </span>
                </karma-item>
            </karma-column>

        </karma-table>
    <karma-content>
    
</karma-page>