<md-dialog aria-label="al" class="administration administration-route change-date dialog">

    <form name="form" name="form" >
        <!-- -->
        <karma-content class="sticky-container">

            <md-subheader class="md-sticky-no-effect">
                Fecha de Busqueda
            </md-subheader>

            <div class="dialog-content">
                <br />
                <!-- -->
                <div layout="row" layout-align="center center">

                    <div flex="20" layout="column" layout-align="center center">

                        <md-icon class="arrows" ng-click="before()" md-svg-src="{{ 'hardware' | icon:'ic_keyboard_arrow_left_24px' }}">
                        </md-icon>

                    </div>

                    <div flex>
                        <center>
                            <div class="picker">
                                <div>
                                    {{ selectedDate | amDateFormat:'dddd' }}
                                </div> 
                                <div layout="column" layout-align="center center">
                                    <div class="month">
                                        {{ selectedDate | amDateFormat:'MMM' }}
                                    </div>
                                    <div class="day">
                                        {{ selectedDate | amDateFormat:'DD' }}
                                    </div>
                                    <div class="year">
                                        {{ selectedDate | amDateFormat:'YYYY' }}
                                    </div>
                                </div> 
                            </div>
                        </center>
                    </div>

                    <div flex="20" layout="column" layout-align="center center">

                        <md-icon class="arrows" ng-click="after()" md-svg-src="{{ 'hardware' | icon:'ic_keyboard_arrow_right_24px' }}">
                        </md-icon>

                    </div>

                </div>
                <!-- -->
            </div>

        </karma-content>
        <!-- -->
        <div class="md-actions" layout="row">

            <md-button aria-label="al" ng-click="cancel()" class="">
                Cancelar
            </md-button>

            <md-button aria-label="al" ng-click="save()" class="md-primary md-raised">
                Cambiar Fecha
            </md-button>

        </div>
        <!-- -->
    </form>

</md-dialog>