<md-dialog aria-label="" class="modal-details-point dialog">

    <form name="form" name="form" >
        <!-- -->
        <karma-content class="sticky-container">

            <div class="dialog-content">
                <!-- -->

                <img style="  width: 80% !important; height: 80% !important; margin-left: 10%; margin-top: 2%;"
                    ng-src="{{image.url}}"
                    style="width: {{image.width}}px; height: {{image.height}}px" />
                <!-- -->

            </div>
        </karma-content>
        <!-- -->
        <div class="md-actions">

            <md-button aria-label="al" ng-click="close()" class="">
                {{'GLOBAL_CLOSE_LABEL' | localize}}
            </md-button>

        </div>
        <!-- -->
    </form>

</md-dialog>