


<!-- LEFT SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"  md-is-open="false">

	<md-toolbar>
		<h1 class="md-toolbar-tools">
			
			<md-button ng-click="toggleLeft()" aria-label="m">
				<md-icon md-svg-src="{{ 'action' | icon:'ic_reorder_24px' }}"></md-icon>
			</md-button>

			<div class="logo">
			</div>

		</h1>
	</md-toolbar>

	<karma-content>
		<md-list ng-repeat="section in config.menu">
			<md-toolbar ng-if="section.name != null" ng-click="toggleMenu(section);" class="divider" flex>

				<h1 class="md-toolbar-tools">
					<table>
						<tr>
							<td>
								<span>{{section.name}}</span>						
							</td>
							<td>
								<md-icon class="chevron" ng-class="{'toggled' : section.open}"  md-svg-src="{{ 'navigation' | icon: 'ic_expand_more_24px' }}"></md-icon>
							</td>
						</tr>
					</table>
				</h1>
				
			</md-toolbar>
			<div ng-show="section.open == true" ng-animate="'animate'" class="menu-toggle-list">
				<md-item ng-repeat="item in section.items" >
					<md-item-content>
						<md-button aria-label="{{item.label}}" ng-click="link(item.url);">
							<md-icon md-svg-src="{{ item.icon.category | icon:item.icon.name }}"></md-icon>
							{{item.label}}
							<md-icon class="chevron" md-svg-src="{{ 'navigation' | icon:'ic_chevron_right_24px' }}"></md-icon>
						</md-button>
					</md-item-content>
					<md-divider md-inset ng-if="!$last"></md-divider>
				</md-item>
			</div>
		</md-list>
	</karma-content>
</md-sidenav>

<!-- RIGHT SIDENAV -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-open="false">
	
	<md-toolbar class="md-tall profile-details">
		
		<div class="photo" layout="row">
			<!-- -->
			<div flex="30" layout-align="center center" layout="column">
				<!-- 
				<div class="name">
					REALIZADAS
				</div>
				<div class="value">
					80%
				</div>
				-->
			</div>
			<!-- -->
			<div flex="40">
				<center>
					<div class="marker">
					
						<img ng-src="{{ config.profile.primarysid | avatar }}">
						
					</div>
				</center>
			</div>
			<!-- -->
			<div flex="30" layout-align="center center" layout="column">
				<!--
				<div class="name">
					TOTAL
				</div>
				<div class="value">
					20
				</div>
				-->
			</div>
			<!-- -->
		</div>

		<div layout="column" layout-align="center center">
			<div class="title" ng-click="toggleRight()">
				{{config.profile.unique_name}}
			</div>
			<div class="charge" ng-click="toggleRight()">
				{{config.profile.email}}
			</div>
		</div>
		

	</md-toolbar>

	<div class="main-fab">
        <md-tooltip md-direction="left">
            Cerrar Sesión
        </md-tooltip>
        <md-button class="md-fab md-accent" aria-label="l" ng-click="logOut()">
        	<md-icon md-svg-src="{{ 'action' | icon:'ic_exit_to_app_48px' }}"></md-icon>
        </md-button>
    </div>

	<br/>
	<br/>
	<br/>
	<karma-content>

		<profile-pending-tasks profile="config.profile"> 

		</profile-pending-tasks>
		<!--
		<md-list>
			<md-item>
				
				<md-item-content>
					<md-button aria-label="{{item.label}}" ng-click="link('app.bpm-inbox');">
						<div class="bubble-counter">
							4
						</div>

						<md-icon md-svg-src="{{ 'content' | icon:'ic_inbox_24px' }}"></md-icon>

						Bandeja de Entrada
					</md-button>
				</md-item-content>
				
				<md-item-content>
					<md-button aria-label="{{item.label}}" ng-click="link('app.bpm-notification');">
						<div class="bubble-counter">
							10
						</div>

						<md-icon md-svg-src="{{ 'social' | icon:'ic_notifications_24px' }}"></md-icon>

						Notificaciones
					</md-button>
				</md-item-content>
				 
			</md-item>
		</md-list>
		-->
	</karma-content>

</md-sidenav>

<!-- LAYOUT -->
<md-toolbar class="header">
	<h1 class="md-toolbar-tools">
		
		<md-button ng-click="toggleLeft()" aria-label="m">
			<md-icon md-svg-src="{{ 'action' | icon:'ic_reorder_24px' }}"></md-icon>
		</md-button>
		
		<md-select 
			ng-if="!config.profile.isInRole('ADMIN')"
			aria-label="al"
			class="businessUnit"
			ng-change="changeBusinessUnit()"
			ng-model="config.businessUnit">

			<md-option ng-value="item" ng-selected="item.token == config.businessUnit.token" ng-repeat="item in config.businessUnits">
				{{ item.nombre }}
			</md-option>

		</md-select>
	</h1>

	<div class="profile" ng-click="toggleRight();">
		<table layout-fill>
			<tr>
				<td>
					<div class="name">
						{{config.profile.unique_name}}
					</div>
					<div class="title">
						{{config.profile.email}}
					</div>
				</td>
				<td>
					<div class="photo">
						<img ng-src="{{ config.profile.primarysid | avatar }}">
					</div>
				</td>
			</tr>
		</table>
	</div>

</md-toolbar>

<!-- CONTENT VIEW -->
<div class="page-content" ng-show="!config.loading" ui-view name="content">
</div>

<!-- LOADING VIEW (loadingView.html) -->
<div class="page-content" ng-show="config.loading" ng-include src="'views/shared/loadingView.html'">
</div>

