<!-- LAYOUT -->
<md-toolbar>
	<h1 class="md-toolbar-tools">
	</h1>
</md-toolbar>

<div class="page-content" layout-align="top center" >
	<md-toolbar layout="column" class="md-tall">
	    <span flex></span>

	    <div class="main-fab">
	        <md-tooltip md-direction="right">
	            Volver
	        </md-tooltip>
	        <md-button class="md-fab md-accent" ng-click="back()"> 
	            <md-icon md-svg-src="{{ 'navigation' | icon:'ic_arrow_back_24px' }}"></md-icon>
	        </md-button>
	    </div>

	    <div class="md-toolbar-tools">
	        <div layout="row" flex class="fill-height">
	            <div class="md-toolbar-item md-title">
	                <span>{{error.code}}!</span>
	            </div>
	        </div>
	    </div>      
	</md-toolbar>

	<br />

	<div ui-view name="content">
	</div>

</div>
