

<h2 class="md-headline">
1.- Instalando las Dependencias para el Ambiente de Desarrollo:
</h2>

<p>
	<i>
		(Omitir este paso si ya has configurado previamente un ambiente de desarrollo para otro proyecto).
	</i>
	<br />
	Antes de comenzar a configurar el ambiente de desarrollo son necesarias 
	las siguientes dependencias (En el orden presentado):

	<ul>
		<li>
			API

			<ul class="doc-list">
				<li>
					<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=30653" target="_blank">
						Microsoft .NET 4.5:
					</a>

					Framework de Trabajo .NET y principal dependencia para el ambiente de 
					desarrollo (Visual Studio).
				</li>
				<li>
					<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=29062" target="_blank">
						SQL Server 2008:
					</a>

					Motor de base de datos , que usará la API RESTful.
				</li>
			</ul>

		</li>

		<li>
			Web

			<ul class="doc-list">
				<li>
					<a href="http://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">
						Git:
					</a>

					Control de versiones para nuestro proyecto... 
					solo con esa descripción basta...
				</li>
				<li>
					<a href="https://nodejs.org/" target="_blank">
						Node.js:
					</a>

					Administrador de paquetes , y contiene las funcionalidades mas importante 
					para la optimización de los tiempos de desarrollo.
				</li>
				<li>
					<a href="http://gruntjs.com/" target="_blank">
						Grunt:
					</a>

					Nuestro principal caballito de batalla en la <strong>automatización de los procesos</strong> 
					monótonos como la reducción , unificación y ofuscación de archivos, así como también la de 
					proveernos en una sola linea la configuración y creación del servidor web 
					que usaremos para el desarrollo.
				</li>
				<li>
					<a href="http://bower.io/" target="_blank">
						Bower:
					</a>

					El administrador de tareas de nuestra aplicación web  <strong>AngularJS</strong> , 
					y que nos permitirá administrar las librerías (<strong>bundles</strong>) que 
					necesitemos usar en la creación de nuestra aplicación , 
					<i>
						(google-map, angular-material, angular-ui-route, etc., en 
						resumen ya no necesitaremos buscar los componentes o 
						librerías externas nunca mas)
					</i>
				</li>
			</ul>

		</li>
	</ul>

	<hljs language="bash">
#Instalamos Grunt (global)
npm install -g grunt-cli

#Hacemos lo mismo con Bower
npm install -g bower

#Actualizamos los paquetes NodeJS
npm update

#Actualzamos los paquetes Bower
bower update
	</hljs>

	<i>
		<strong>Nota:</strong> Estos comandos deben ser usados bajo la función sudo 
		(for OSX, *nix, BSD etc) o desde una linea de comandos como Administrator 
		(Windows) para instalar Grunt & Bower globalmente.
	</i>
	
</p>
<br />

<h2 class="md-headline">
	2.- Configurando el Ambiente de Desarrollo:
</h2>

<p>
	Una vez instaladas las dependencias bases para nuestra plantilla, 
	podemos comenzar a configurar un ambiente de desarrollo para el nuestro proyecto.
	<br />
	<br />
	Comenzaremos clonando el repositorio del kit inicial:

	<hljs language="bash">
# Hacemos una copia simple del repositorio (bare clone)
git clone https://github.com/GrupoValentys/gale-starter-project.git

# Localizamos nuestro terminal en la carpeta WEB del proyecto
cd Gale-Starter-Project/Web

# Regeneramos el ambiente de desarrollo 
# (Puede demorarse un poco y quizas sea necesario usar 'sudo')
npm install

# Regeneramos los paquetes de bower (Puede demorarse un poco)
bower install
	</hljs>
	<br />
</p>
<br />

<h2 class="md-headline">
	3.- Ejecutando nuestro Ambiente de Desarrollo:
</h2>

<p>
	Para depurar y realizar pruebas de usuarios, Es común y muy util 
	tener un servidor web HTTP. Para este proposito se encuentra disponible 
	un servidor web local basado en Node.js que permite entre otras cosas 
	servir como herramienta de depuración para los desarrollos a realizar.
	<br />
	<br />
	Para ejecutarlo realizaremos lo siguiente:

	<hljs language="bash">
# Finalmente levantamos el servidor web
grunt lift --open-browser
	</hljs>
</p>