

<h2 class="md-headline">
1.- Instalando las Dependencias para el Ambiente de Desarrollo:
</h2>

<p>
	<i>
		(Omitir este paso si ya has configurado previamente un ambiente de desarrollo para otro proyecto).
	</i>
	<br />
	Antes de comenzar a configurar el ambiente de desarrollo son necesarias 
	las siguientes dependencias (En el orden presentado):

	<ul>
		<li>
			API

			<ul class="doc-list">
				<li>
					<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=30653" target="_blank">
						Microsoft .NET 4.5:
					</a>

					Framework de Trabajo .NET y principal dependencia para el ambiente de 
					desarrollo (Visual Studio).
				</li>
				<li>
					<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=29062" target="_blank">
						SQL Server 2008:
					</a>

					Motor de base de datos , que usará la API RESTful.
				</li>
			</ul>

		</li>

		<li>
			Web

			<ul class="doc-list">
				<li>
					<a href="http://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">
						Git:
					</a>

					Control de versiones para nuestro proyecto... 
					solo con esa descripción basta...
				</li>
				<li>
					<a href="https://nodejs.org/" target="_blank">
						Node.js:
					</a>

					Administrador de paquetes , y contiene las funcionalidades mas importante 
					para la optimización de los tiempos de desarrollo.
				</li>
				<li>
					<a href="http://gruntjs.com/" target="_blank">
						Grunt:
					</a>

					Nuestro principal caballito de batalla en la <strong>automatización de los procesos</strong> 
					monótonos como la reducción , unificación y ofuscación de archivos, así como también la de 
					proveernos en una sola linea la configuración y creación del servidor web 
					que usaremos para el desarrollo.
				</li>
				<li>
					<a href="http://bower.io/" target="_blank">
						Bower:
					</a>

					El administrador de tareas de nuestra aplicación web  <strong>AngularJS</strong> , 
					y que nos permitirá administrar las librerías (<strong>bundles</strong>) que 
					necesitemos usar en la creación de nuestra aplicación , 
					<i>
						(google-map, angular-material, angular-ui-route, etc., en 
						resumen ya no necesitaremos buscar los componentes o 
						librerías externas nunca mas)
					</i>
				</li>
			</ul>

		</li>
	</ul>

	<hljs language="bash">
#Instalamos Grunt (global)
npm install -g grunt-cli

#Hacemos lo mismo con Bower
npm install -g bower

#Actualizamos los paquetes NodeJS
npm update

#Actualzamos los paquetes Bower
bower update
	</hljs>

	<i>
		<strong>Nota:</strong> Estos comandos deben ser usados bajo la función sudo 
		(for OSX, *nix, BSD etc) o desde una linea de comandos como Administrator 
		(Windows) para instalar Grunt & Bower globalmente.
	</i>
	
</p>
<br />

<h2 class="md-headline">
	2.- Configurando el Ambiente de Desarrollo:
</h2>

<p>
	Una vez instaladas las dependencias bases para nuestra plantilla, 
	podemos comenzar a configurar un ambiente de desarrollo para el nuestro proyecto.
	<br />
	<br />
	Comenzaremos clonando este repositorio en el repositorio del nuevo proyecto:

	<hljs language="bash">
# Hacemos una copia simple del repositorio (bare clone)
git clone --bare https://github.com/GrupoValentys/gale-starter-project.git

# Enviamos el contenido clonado al nuevo repositorio (mirror-push)
cd gale-starter-project.git
git push --mirror https://dmunozgaete@github/{nuevo-repositorio}.git

# Limpiamos un poco eliminando la copia simple del 
# directorio (Remove our temporary local repository)
cd ..
rm -rf https://github.com/GrupoValentys/gale-starter-project.git
	</hljs>
	<br />
	
	Ahora que tenemos nuestro proyecto clonado en el repositorio de git (bitbucket) , 
	comenzaremos configurando una rama local para nuestro desarrollo:

	<hljs language="bash">
# Creamos una carpeta local que contendrá nuestro repositorio
mkdir /direccion/de/nuestro/nuevo/proyecto

# Localizamos nuestro terminal en la carpeta del proyecto
cd /direccion/de/nuestro/nuevo/proyecto

# Iniciamos Git en la dirección que contendrá nuestro nuevo repositorio
git init

# Añadimos la referencia remota (dirección .git)
git remote add origin https://dmunozgaete@github/{nuevo-repositorio}.git

# Descargamos todo el contenido remoto de la rama a nuestra maquina
git pull

# Finalmente, establecemos la rama con la cual trabajaremos
git checkout master
	</hljs>

</p>
<br />

<h2 class="md-headline">
	3.- Ejecutando nuestro Ambiente de Desarrollo:
</h2>

<p>
	Para depurar y realizar pruebas de usuarios, Es común y muy util 
	tener un servidor web HTTP. Para este proposito se encuentra disponible 
	un servidor web local basado en Node.js que permite entre otras cosas 
	servir como herramienta de depuración para los desarrollos a realizar.
	<br />
	<br />
	Para ejecutarlo realizaremos lo siguiente:

	<hljs language="bash">
# Localizamos nuestro terminal en la carpeta del proyecto
cd /direccion/de/nuestro/nuevo/proyecto

# Nos dirigimos a la carpeta web donde se encuentra nuestro sitio
cd Web/

# Regeneramos el ambiente de desarrollo (Puede demorarse un poco)
sudo npm install

# Regeneramos los paquetes de bower (Puede demorarse un poco)
bower install

# Finalmente levantamos el servidor web
grunt lift --open-browser
	</hljs>
</p>