

<h2 class="md-headline">
1.- Instalando las Dependencias para el Ambiente de Desarrollo:
</h2>

<p>
	<i>
		(Omitir este paso si ya has configurado previamente un ambiente de desarrollo para otro proyecto).
	</i>
	<br />
	Antes de comenzar a configurar el ambiente de desarrollo son necesarias 
	las siguientes dependencias (En el orden presentado):

	<ul class="doc-list">
		<li>
			<a href="http://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">
				Git:
			</a>

			Control de versiones para nuestro proyecto... 
			solo con esa descripción basta...
		</li>
		<li>
			<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=30653" target="_blank">
				Microsoft .NET 4.5 o vNext (Linux o OSX):
			</a>

			Framework de Trabajo .NET y dependencia principal , de nuestros proyectos
		</li>
		<li>
			<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=29062" target="_blank">
				SQL Server 2008:
			</a>

			Uno de los motores de base de datos, que puede utilizar la API RESTful.
		</li>

		<li>
			<a href="http://www.microsoft.com/es-cl/download/details.aspx?id=29062" target="_blank">
				IDE para desarrollo:
			</a>

			Puede ser Xamarin Studio o Visual Studio 2013 o Superior, para poder codificar 
			de forma simple nuestra API.
		</li>
	</ul>
	
</p>
<br />

<h2 class="md-headline">
	2.- Configurando el Ambiente de Desarrollo:
</h2>

<p>
	Una vez instaladas las dependencias bases para nuestra API, 
	podemos configurar un ambiente de desarrollo para nuestro proyecto.
	<br />
	<br />
	Comenzaremos descargando nuestra plantilla base para el desarrollo:

	<hljs language="bash">
# Hacemos una copia simple del repositorio (bare clone)
git clone https://github.com/dmunozgaete/Gale-API-Seed-Project.git 
MyFirstAPI

# Abrimos la solución con nuestro IDE favorito ;)!
start API.sln
	</hljs>
	<br />
</p>
<br />

<h2 class="md-headline">
	3.- Ejecutando nuestro Ambiente de Desarrollo:
</h2>

<p>
	Una vez cargado el proyecto en nuestro IDE, iniciaremos el servidor de prueba
	(F5) o el servidor Web Local , y veremos algo parecido a la siguiente imagen:
	<br />
	<br />
	<!-- IMAGES -->
    <snapshot>
        <img src="bundles/app/static/api_localhost.png" />
        <span>
            Home inicial de nuestra API en OSX con Xamarin Studio
        </span>
    </snapshot>
    <!-- /IMAGES -->
</p>