<karma-page class="dashboard-details">

    <md-toolbar layout="column" class="md-tall">
        <span flex></span>

        <div class="main-fab">
            <md-tooltip md-direction="right">
                {{ 'Navigation.Back' | localize }}
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="back()">
                <md-icon md-svg-src="{{ 'navigation' | icon:'ic_arrow_back_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">
            <div layout="row" flex class="fill-height">
                <div class="md-toolbar-item md-title">
                    <span>Indicadores Actuales > Detalle</span>
                </div>
            </div>
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="data == null" md-mode="indeterminate" class="md-primary">
    </md-progress-linear>
    
    <br />
    <br />
    <br />

    <div>
        <!-- -->
        <div layout="row" layout-align="start start" class="graph">

            <div class="big" flex="20" >
                <!-- -->
                <center ng-if="charts" >
                    <div class="box">
                        <pie-chart
                            data='charts.general' 
                            options='charts.options'>
                        </pie-chart>
                    </div>
                </center>
                <!-- -->
                <div class="legend" ng-if="charts" >
                    <div layout="row">
                        <div flex="15">
                            <div class="marker success">
                            </div>
                        </div>
                        <div flex="15">
                            {{data.information.realizados}}
                        </div>
                        <div flex="60">
                            Realizados
                        </div>
                        
                    </div>

                    <div layout="row">
                        <div flex="15">
                            <div class="marker failure">
                            </div>
                        </div>
                        <div flex="15">
                            {{data.information.fallidos}}
                        </div>
                        <div flex="60">
                            Fallidos
                        </div>
                        
                    </div>

                    <div layout="row">
                        <div flex="15">
                            <div class="marker pending">
                            </div>
                        </div>
                        <div flex="15">
                            {{data.information.total}}
                        </div>
                        <div flex="60">
                            Pendientes
                        </div>
                        
                    </div>
                </div>
            </div>

            <div flex="75"  ng-if="data.items">
            
                <karma-table items="data.items">
                    <!-- -->
                    <karma-column width="30" title="Servicio">
                        <karma-item>
                            {{item.tipo}}
                        </karma-item>
                    </karma-column>
                    <!-- -->
                    <karma-column width="40" title="Polígono">
                        <karma-item>
                            
                            <div class="name">
                                {{item.poligono}}
                            </div>

                        </karma-item>
                    </karma-column>
                    <!-- -->
                    <karma-column title="Progr.">
                        <karma-item>
                            
                            {{item.programados}}

                        </karma-item>
                    </karma-column>
                    <!-- -->
                    <karma-column title="Adic.">
                        <karma-item>
                            
                            {{item.adicionales}}

                        </karma-item>
                    </karma-column>
                    <!-- -->
                    <karma-column title="Pend.">
                        <karma-item>
                            
                            {{item.total}}

                        </karma-item>
                    </karma-column>
                </karma-table>
            </div>
        </div>
    </div>


</karma-page>