<karma-page class="administration administration-programming list">
    <md-toolbar>
        
        <div class="main-fab">
            <md-tooltip md-direction="right">
                Seleccionar Mes
            </md-tooltip>
            <md-button class="md-fab md-accent" aria-label="al" ng-click="changeDate()">
                <md-icon md-svg-src="{{ 'action' | icon:'ic_today_24px' }}"></md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools">

            <div class="md-toolbar-item md-title">
                <span>Programación Mensual</span>
            </div>

            <span flex></span>
            
            <div class="md-toolbar-item md-title selected-day">
                <span>
                {{data.date | amDateFormat:'MMMM' | capitalize }} de 
                {{data.date | amDateFormat:'YYYY'}} </span>
            </div>
            
        </div>      
    </md-toolbar>

    <!-- LINEAR PROGRESS -->
    <md-progress-linear ng-show="!loadCompleted" md-mode="indeterminate" class="md-primary"></md-progress-linear>

    <karma-content>
        <karma-table row-click="edit" items="data.services">

            <karma-column width="10">
                <karma-item>
                    <div class="thumb">
                        <img ng-src="{{ item.imagen | restricted }}" />
                    </div>
                </karma-item>
            </karma-column>

            <karma-column property="nombre" title="Servicio"></karma-column>
            <karma-column title="Estado">
                <karma-item>
                    <template>
                        <span ng-if="item.programado > 0 ">{{item.programado}} Servicios Programados</span>
                        <span style="color:#F44336" ng-if="item.programado == 0 ">Sin Programar</span>
                    </template>
                </karma-item>
            </karma-column>

        </karma-table>
    </karma-content>
</karma-page>