<p>
    <!-- DESCRIPTION -->
    La directiva <code>gale-table</code> permite ordenar en formato de "tabla"
    contenido dinámico.
    <!-- /DESCRIPTION -->

    <!-- USAGE -->
    <section class="demo-container md-whiteframe-z1" ng-class="{'show-source': $showSource}">
        <md-toolbar class="demo-toolbar">
            <div class="md-toolbar-tools">

                <h2>
                	<span>
                		Uso Basico
                	</span>
                </h2>
                <span flex></span>
                <button class="md-button md-primary" aria-label="al" ng-class="{ active: $showSource }" ng-click="$showSource = !$showSource">
                    <md-icon md-svg-icon="action:code"></md-icon>
                </button>

            </div>
        </md-toolbar>

    	<div ng-if="$showSource">
	        <!-- Views -->
	        <md-tabs  md-border-bottom class="md-primary">
	            <md-tab label="html">
	                <md-content class="md-padding">
	                	<!-- SOURCE CODE -->
	                    <hljs language="html">
<div ng-controller="GaleTableDemoController">
  <gale-table items="dataSource1">
    <gale-column width="10">
      <gale-item>
        <template>
          <div class="thumb">
            <img ng-src="bundles/app/css/demos/thumbs/{{item.icon}}" />
          </div>
        </template>
      </gale-item>
    </gale-column>

    <gale-column title="Nombre" property="name" align="left">
    </gale-column>

    <gale-column property="email"> 
      <gale-header>
        E-mail
      </gale-header>
    </gale-column>

    <gale-column width="10">  
      <gale-item>
        <template>
          <md-checkbox ng-model="item.check" class="md-warn">
          </md-checkbox>
        </template>
      </gale-item>
    </gale-column>
  </gale-table>
</div>
	                    </hljs>
	                    <!-- /SOURCE CODE -->
	                </md-content>
	            </md-tab>

                <md-tab label="js">
                    <md-content class="md-padding">
                        <!-- SOURCE CODE -->
                        <hljs language="js">
app.controller("GaleTableDemoController", function($scope, $galeTable) {
  $scope.dataSource1 = [
    {
      icon: "Dmunoz1-160x160.jpg",
      name: "David Gaete",
      email: "dmunoz@valentys.com"
    }, 
    {
      icon: "Velasquez-160x160.jpg",
      name: "Danilo Velasquez",
      email: "dvelasquez@valentys.com"
    }, 
    {
      icon: "MRUIZ-160x160.jpg",
      name: "Marco Ruiz",
      email: "mruiz@valentys.com"
    }, 
    {
      icon: "Rheredia-160x160.png",
      name: "Rafael Heredia",
      email: "rheredia@valentys.com"
    }, 
    {
      icon: "ASHAE-160x160.jpg",
      name: "Alejandro Shae",
      email: "ashae@valentys.com"
    }
  ];
});
                        </hljs>
                        <!-- /SOURCE CODE -->
                    </md-content>
                </md-tab>
	        </md-tabs>
        </div>
        <!-- /Views -->

        <!-- Live Demos -->
        <md-content class="md-padding live-demo">
            <div ng-controller="GaleTableDemoController">
                <gale-table items="dataSource1">

                	<gale-column width="10">
                		<gale-item>
                			<template>
	                			<div class="thumb">
	                				<img ng-src="bundles/app/css/demos/thumbs/{{item.icon}}" />
	                			</div>
                			</template>
                		</gale-item>
                	</gale-column>

                	<gale-column 
                		title="Nombre" 
                		property="name" align="left">
                	</gale-column>

                	<gale-column property="email"> 
                		<gale-header>
                			E-mail
                		</gale-header>
                	</gale-column>

                	<gale-column width="10">  
                		<gale-item>
                			<template>
                				<md-checkbox
						            ng-model="item.check"
						            aria-label="al"
						            class="md-warn">
						          
						        </md-checkbox>
                			</template>
                		</gale-item>
                	</gale-column>
                </gale-table>
            </div>
	    </md-content>
        <!-- /Live Demos -->
    </section>
    <!-- /USAGE -->

    <!-- USAGE -->
    <section class="demo-container md-whiteframe-z1" ng-class="{'show-source': $showSource1}">
        <md-toolbar class="demo-toolbar">
            <div class="md-toolbar-tools">

                <h2>
                    <span>
                        Uso Avanzado: Confguración desde el controlador
                    </span>
                </h2>
                <span flex></span>
                <button class="md-button md-primary" aria-label="al" ng-class="{ active: $showSource1 }" ng-click="$showSource1 = !$showSource1">
                    <md-icon md-svg-icon="action:code"></md-icon>
                </button>

            </div>
        </md-toolbar>

        <div ng-if="$showSource1">
            <!-- Views -->
            <md-tabs  md-border-bottom class="md-primary">
                <md-tab label="html">
                    <md-content class="md-padding">
                        <!-- SOURCE CODE -->
                        <hljs language="html">
<div ng-controller="GaleTableServiceDemoController">
  <gale-table>

    <gale-column width="10">
     <gale-item>
       <template>
         <div class="thumb">
           <img ng-src="{{item.icon}}" />
         </div>
       </template>
     </gale-item>
    </gale-column>

    <gale-column title="Unidad" property="nombre" align="left">
    </gale-column>

    <gale-column title="Proyecto" property="cliente" align="left">
    </gale-column>
  </gale-table>
</div>
                        </hljs>
                        <!-- /SOURCE CODE -->
                    </md-content>
                </md-tab>

                <md-tab label="js">
                    <md-content class="md-padding">
                        <!-- SOURCE CODE -->
                        <hljs language="js">
app.controller("GaleTableServiceDemoController", function($scope, $galeTable, $timeout) {
  
  $galeTable.then(function(component) {
    var email = "dmunoz@valentys.com";
    var endpoint = '/Mocks/User/?email={0}'.format([email]);

    component.setup(endpoint);
      //Row Click 
      component.$on("rowClick", function(ev, item) {
        console.log(item);
      });

    //On Complete Data
    component.$on("loadComplete", function(data) {
      //Add Icon
      angular.forEach(data.items, function(item) {
        item.icon = "bundles/app/css/images/logo.png";
      });
    });
  });
  
});
                        </hljs>
                        <!-- /SOURCE CODE -->
                    </md-content>
                </md-tab>

                <md-tab label="json (KQL)">
                    <md-content class="md-padding">
                        <!-- SOURCE CODE -->
                        <hljs language="json">
{
  "offset": 0,
  "limit": 10,
  "total": 10,
  "elapsedTime": "00:00:00.3685175",
  "items": [
    {
      "token": "f8302e8c-ea34-4daa-a2f1-9ec727d7a4e9",
      "nombre": "SPENCE",
      "cliente": "SPENCE",
      "imagen": "",
      "creacion": "2015-06-03T12:47:40",
      "latitud": "25",
      "longitud": "25",
      "zoom": "14"
    },
    {
      "token": "65b7a72b-b508-4594-9c89-2efdae9e7e91",
      "nombre": "PROYECTO-MEL",
      "cliente": "MINERA ESCONDIDA",
      "imagen": "",
      "creacion": "2015-06-03T12:47:40",
      "latitud": "-33,4227752685547",
      "longitud": "-70,6111831665039",
      "zoom": "12"
    }
  ]
}
                        </hljs>
                        <!-- /SOURCE CODE -->
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <!-- /Views -->

        <!-- Live Demos -->
        <md-content class="md-padding live-demo">
            <div ng-controller="GaleTableServiceDemoController">
                <gale-table name="tbl_demo1">

                    <gale-column width="10">
                        <gale-item>
                            <template>
                                <div class="thumb">
                                    <img ng-src="{{item.icon}}" />
                                </div>
                            </template>
                        </gale-item>
                    </gale-column>

                    <gale-column 
                        title="Unidad" 
                        property="nombre" align="left">
                    </gale-column>

                    <gale-column 
                        title="Proyecto" 
                        property="cliente" align="left">
                    </gale-column>

                </gale-table>
            </div>
        </md-content>
        <!-- /Live Demos -->
    </section>
    <!-- /USAGE -->

    <!-- FILTER -->
    <h2 class="md-headline">
		Atributos
	</h2>
    <ul class="methods">
        <!-- -->
        <li>
            <!-- METHOD -->
            <div class="api-param-table">
                <table class="no-style">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									paginate
								</code>
                            </td>
                            <td>
                                Boolean
                            </td>
                            <td class="description">
                                <p>
                                    Indica si los registros seran paginados o no.
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									items
								</code>
                            </td>
                            <td>
                                Array
                            </td>
                            <td class="description">
                                <p>
                                    Fuente de Datos a cargar en la tabla.
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									endpoint
								</code>
                            </td>
                            <td>
                                String
                            </td>
                            <td class="description">
                                <p>
                                    Si se establece un endpoint, La tabla cargará los datos desde la ruta 
                                    establecida , bajo el formato KQL (Karma Query Language).
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									show-header
								</code>
                            </td>
                            <td>
                                Boolean
                            </td>
                            <td class="description">
                                <p>
                                    Indica si se deberá mostrar el encabezado de la tabla  o no.
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
									row-click
								</code>
                            </td>
                            <td>
                                Function
                            </td>
                            <td class="description">
                                <p>
                                    Function a ejecutar cuando el usuario presiona sobre un ítem.
                                    <br />
                                    Los argumentos de la función son:
                                    <ul class="doc-list">
                                        <li>
                                            <code>event</code>: Evento
                                        </li>
                                        <li>
                                            <code>item</code>: Objeto del ítem presionado
                                        </li>
                                        <li>
                                            <code>name</code>: Identificador de la tabla a la cual 
                                            se realizo el evento.
                                        </li>
                                    </ul>

                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
                                    cell-clcik
                                </code>
                            </td>
                            <td>
                                Function
                            </td>
                            <td class="description">
                                <p>
                                    Function a ejecutar cuando el usuario presiona sobre una celda.
                                    <br />
                                    Los argumentos de la función son:
                                    <ul class="doc-list">
                                        <li>
                                            <code>event</code>: Evento
                                        </li>
                                        <li>
                                            <code>item</code>: Objeto del ítem presionado
                                        </li>
                                         <li>
                                            <code>xy</code>: Ordinal de la celda y fila presionada.
                                        </li>
                                        <li>
                                            <code>name</code>: Identificador de la tabla a la cual 
                                            se realizo el evento.
                                        </li>
                                    </ul>
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                        <tr>
                            <td>
                                <code>
                                    name
                                </code>
                            </td>
                            <td>
                                String
                            </td>
                            <td class="description">
                                <p>
                                    Identificador único de la tabla.
                                    <br />
                                    <i>
                                        (Si existe mas de una tabla en la vista actual,
                                        se solicitará un nombre).
                                    </i>
                                </p>
                            </td>
                        </tr>
                        <!-- -->
                    </tbody>
                </table>
            </div>
            <!-- /METHOD -->
        </li>
        <!-- -->
    </ul>
    <!-- /FILTER -->
</p>
