<div class="panel point">
	<karma-content>
		
		<!-- -->
		<h4>
			Polígono:
		</h4>
		<div layout="row" layout-align="start center"> 

			<div flex="20">
				<div class="thumb">
				    <img ng-src="{{ polygon.imagen | restricted }}" />
				</div>
			</div>

			<div flex class="label">
				<span>{{polygon.nombre}}</span>
				
				<div class="date">
					<span>{{polygon.tipo.toString()}}</span>
				</div>

			</div>

		</div>
		<!-- -->


		<!-- -->
		<h4 ng-if="polygon.servicios.length > 0">
			Servicios Disponibles:
		</h4>
		<div>
			<div layout="row" layout-align="start center" ng-repeat="item in polygon.servicios"> 

				<div flex="20">
					<div class="thumb">
					    <img ng-src="{{ item.imagen | restricted }}" />
					</div>
				</div>

				<div flex class="label">
					{{item.nombre}}

					<div class="date">
						<span>{{item.descripcion}}</span>
					</div>

				</div>

			</div>
			
		</div>
		<!-- -->

		

	</karma-content>
</div>