<div class="panel point">
	<karma-content>
		<!-- -->
		<h4>
			Conductor:
		</h4>
		<div>
			<div layout="row" layout-align="start center"> 

				<div flex="20">
					<div class="thumb">
					    <img ng-src="{{ driver.imagen | restricted }}" />
					</div>
				</div>

				<div flex class="label">
					{{driver.nombre}}

					<div class="date" title="{{driver.ultimaActualizacion | amDateFormat:'YYYY-MM-DD HH:mm:ss' | capitalize }}">
						<strong>activo:</strong>
						<span am-time-ago="driver.ultimaActualizacion"></span>
						<span ng-if="!driver.ultimaActualizacion">Sin Información</span>
					</div>

				</div>

			</div>
		</div>
		<!-- -->

		<!-- -->
		<h4>
			Vehículo:
		</h4>
		<div>
			<div layout="row" layout-align="start center"> 

				<div flex="20">
					<div class="thumb">
					    <img ng-src="{{ driver.vehiculo.imagen | restricted }}" />
					</div>
				</div>

				<div flex class="label">
					<span ng-if="!driver.ultimaActualizacion">
						Sin Información
					</span>
					{{driver.vehiculo.patente}}
					<div class="date" >
						{{driver.vehiculo.tipo}}
					</div>
				</div>

			</div>
		</div>
		<!-- -->

		<!-- -->
		<h4>
			Coordenadas:
		</h4>
		<div>
			<div layout="row" layout-align="start center"> 
				<div flex="20">
					<div class="thumb">
					    <img ng-src="{{ driver.vehiculo.imagen | restricted }}" />
					</div>
				</div>

				<div flex class="label">
					<span ng-if="!driver.ultimaActualizacion">
						Sin Información
					</span>
					{{driver.coordenadas.latitud}}
					<br />
					{{driver.coordenadas.longitud}}
				</div>
			</div>
		</div>
		<!-- -->

		<!-- -->
		<h4>
			Velocidad:
		</h4>
		<div>
			<div layout="row" layout-align="start center"> 
				<div flex="20">
					<div class="thumb">
					    <img ng-src="{{ driver.vehiculo.imagen | restricted }}" />
					</div>
				</div>

				<div flex class="label">
					<span ng-if="driver.ultimaActualizacion">
						{{speed | number:2}} km/hr
					</span>
					<span ng-if="!driver.ultimaActualizacion">
						Sin Información
					</span>
					
				</div>
			</div>
		</div>
		<!-- -->

		
	</karma-content>
</div>