

<div class="panel details">

		<!-- -->
        <div class="main-fab wizard">
            <md-button 
                class="md-fab md-accent" 
                aria-label="al" 
                ng-click="cancel()">
                <md-icon md-svg-src="{{ 'navigation' | icon:'ic_close_24px' }}"></md-icon>
            </md-button>
        </div>
		<!-- -->
		<div>

			<form name="form">
				<md-input-container>
					<label for="name">Nombre del Polígono</label>
					<input 
						type="text" 
						id="name" 
						ng-model="details.data.nombre" 
						ng-change="setDirty(true)"
						md-sidenav-focus
						required>
				</md-input-container>

				<div layout="row" layout-align="start center">
					<div flex="20">
						<div class="thumb pin">
						    <img ng-src="{{ details.data.tipo.imagen | restricted }}" />
						</div>
					</div>
					<div flex>
						<md-input-container ng-class="{'md-input-has-value': details.data.tipo }">
		                    <label>Tipo de Polígono</label>
		                    <md-select placeholder="" ng-change="setDirty(true)" ng-model="details.data.tipo" required>
		                        <md-option ng-value="item" ng-repeat="item in collections.types">
			                        <!-- -->
		                            {{item.nombre}}
		                            <!-- -->
		                        </md-option>
		                    </md-select>
		                </md-input-container>
	                </div>
                </div>
			</form>
		
		</div>
		<!-- -->

		<!-- -->
		<h4>
			Servicios Disponibles:
		</h4>
		<div class="services">
			<div 
				ng-class="{'active': item.selected }"
				layout="row" 
				layout-align="start center" 
				ng-repeat="item in collections.services" 
				ng-click="toggleSelect(item)"
				class="pointer"> 

				<div flex="20">
					<div class="thumb">
					    <img ng-src="{{ item.imagen | restricted }}" />
					</div>
				</div>

				<div flex class="label">
					{{item.nombre}}
				</div>

			</div>
		</div>
		<!-- -->

	

	<center>
		<md-button 
			ng-class="{'md-accent': details.dirty }" 
			ng-disabled="!details.dirty" 
			aria-label="al" 
			class="md-raised"
			ng-click="save()">

            <md-icon md-svg-src="{{ 'content' | icon:'ic_save_24px' }}"></md-icon>
            Actualizar

        </md-button>
        <md-button 
			class="md-warn" 
			aria-label="al" 
			class="md-link"
			ng-click="delete()">

            <md-icon class="md-warn" md-svg-src="{{ 'action' | icon:'ic_delete_24px' }}"></md-icon>
            Eliminar

        </md-button>
	</center>
</div>