<div class="panel polygons">
	<!-- SEARCH -->
    <div class="header" layout="row" layout-align="center center">
        <div layout="row" layout-align="center center" class="search">
            <div flex="20">
                <md-icon md-svg-src="{{ 'action' | icon:'ic_search_24px' }}"></md-icon>
            </div>
            <div flex="80">
                <input type="search" ng-change="filter(searchQuery)" md-sidenav-focus ng-model="searchQuery" />
            </div>
        </div>
    </div>

	<karma-content>
		<div layout="row" layout-align="start center" class="pointer" ng-click="navigate(item)" ng-repeat="item in filteredPolygons">

			<div flex="20">
				<div class="thumb pin">
				    <img ng-src="{{ item.imagen | restricted }}" />
				</div>
			</div>
			<div flex class="label">
				<span>{{item.nombre}}</span>

				<div class="date">
					{{item.tipo.nombre}} <i>({{item.coordenadas.length}} coords.)</i>
				</div>
			</div>
		</div>

	</karma-content>

	<div class="counter-panel">
		{{filteredPolygons.length}} Polígonos
	</div>

</div>