<md-dialog aria-label="" class="businessunit-create step-5 coordinates dialog">

    <form name="form" name="form" >
        <!-- -->
        <karma-content class="sticky-container">

            <md-subheader class="md-sticky-no-effect">
                Configuración de las coordenadas
            </md-subheader>

            <div class="dialog-content">
                <!-- -->
                <div layout="row">
                    <div flex>
                        <md-input-container  flex>
                            <label>Latitud</label>
                            <input  type="text" ng-model="viewport.latitude" required />
                        </md-input-container>

                        <md-input-container  flex>
                            <label>Longitud</label>
                            <input type="text" ng-model="viewport.longitude" required />
                        </md-input-container>

                        <md-input-container  flex>
                            <label>Valor de Ampliación (Zoom) </label>
                            <input type="text" ng-model="viewport.zoom" value="12" required />
                        </md-input-container>
                    </div>    
                </div>  
                <!-- -->
            </div>

        </karma-content>
        <!-- -->
        <div class="md-actions" layout="row">

            <md-button ng-disabled="form.$invalid" aria-label="al" ng-click="save(viewport)" class="md-primary md-raised">
                {{'GLOBAL_SAVE_LABEL' | localize}}
            </md-button>

        </div>
        <!-- -->
    </form>

</md-dialog>